/*
	Author: Shane Schroll - 502 Media Group
	Author URI: https://weare502.com
	Theme Name: KWCRF
	Description: KWCRF blocks stylesheet. Block Editor Preview and Front End styles.
	Version: 0.3
	Text Domain: kwcrf
*/
/** All partials should match the block name **/
.grid-block {
  width: 100%;
  margin: 3.5rem auto; }
  .grid-block--grid {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23.5rem));
    -webkit-column-gap: 1.15rem;
    column-gap: 1.15rem;
    row-gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .grid-block__inner {
    padding: 1rem; }
    .grid-block__inner h4 {
      margin-top: 0;
      margin-bottom: 0; }

/**
	Global Call to Action Card Styles
	All files with "cta" in it pull their "parent" styles from this stylesheet
**/
.cta-wrapper {
  max-width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center; }

.cta-block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62.5rem;
  width: 100%;
  margin: 2rem auto 0;
  padding: 0 0.5rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 930px) {
    .cta-block-row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: unset; } }

.card-block {
  max-width: 18.75rem;
  margin-bottom: 1.5rem; }
  @media (min-width: 930px) {
    .card-block {
      margin-bottom: 0; } }
  .card-block:last-of-type {
    margin-bottom: 0; }
  .card-block h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 1.2rem;
    color: #666666;
    border-bottom: 2px solid #979797; }
  .card-block p {
    font-size: 1.125rem;
    color: #474747;
    padding-top: 0; }

.fw-block-card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (min-width: 980px) {
    .fw-block-card {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 2px solid #979797; } }
  .fw-block-card:last-of-type {
    border-bottom: none;
    padding-bottom: 0; }
  .fw-block-card .text-content {
    max-width: 30.5rem; }
    .fw-block-card .text-content .non-block-header {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem; }
      @media (min-width: 980px) {
        .fw-block-card .text-content .non-block-header {
          margin-top: 0; } }
    .fw-block-card .text-content p {
      font-size: 1.125rem;
      padding-left: 0;
      padding-right: 0; }
  .fw-block-card .fw-image {
    max-width: 30.5rem;
    margin-bottom: 1.5rem; }

.masonry-grid-columns {
  margin: 3.75rem auto 0;
  max-width: 25rem; }
  @media (min-width: 768px) {
    .masonry-grid-columns {
      -webkit-columns: 2;
      columns: 2;
      -webkit-column-gap: 11.5rem;
      column-gap: 11.5rem;
      max-width: 62.5rem; } }
  .masonry-grid-columns .masonry-block {
    display: inline-block;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .masonry-grid-columns .masonry-block {
        margin-bottom: 5rem; } }
    .masonry-grid-columns .masonry-block img {
      margin-left: 0.5rem;
      max-width: 5.1rem; }
    .masonry-grid-columns .masonry-block h5 {
      margin-top: 1.2rem; }
    .masonry-grid-columns .masonry-block ul {
      font-family: anivers, sans-serif;
      font-size: 1.125rem;
      color: #474747;
      line-height: 1.5;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
      .masonry-grid-columns .masonry-block ul li {
        padding-left: 0.5rem; }

.blockquote-container {
  max-width: 62.5rem;
  text-align: center;
  margin: 3.75rem auto;
  padding: 0 0.5rem; }
  @media (min-width: 768px) {
    .blockquote-container {
      padding: 0; } }
  .blockquote-container blockquote {
    margin: 0;
    color: #666666;
    font-size: 1rem;
    font-style: italic; }
    @media (min-width: 375px) {
      .blockquote-container blockquote {
        font-size: 1.25rem; } }
    @media (min-width: 480px) {
      .blockquote-container blockquote {
        font-size: 1.5rem; } }
    @media (min-width: 768px) {
      .blockquote-container blockquote {
        font-size: 1.75rem; } }
  .blockquote-container h5 {
    font-family: anivers, sans-serif;
    margin-bottom: 0;
    font-size: 1.35rem; }
    @media (min-width: 768px) {
      .blockquote-container h5 {
        font-size: 1.5rem; } }
  .blockquote-container p {
    padding-top: 0;
    padding-bottom: 0;
    color: #235A8A; }
    @media (min-width: 768px) {
      .blockquote-container p {
        font-size: 1.125rem; } }

.donate-banner {
  width: 100%;
  margin: 2.5rem auto 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 1023px) {
    .donate-banner {
      margin: 4rem auto 0; } }
  .donate-banner:before {
    content: '';
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    background-image: url("static/images/brushstroke-top.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat; }
    @media (min-width: 768px) {
      .donate-banner:before {
        background-size: contain; } }
  .donate-banner__overlay {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 56rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center; }
    .donate-banner__overlay p {
      color: #FFF;
      font-size: 1.35rem;
      margin-top: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
      @media (min-width: 480px) {
        .donate-banner__overlay p {
          font-size: 1.75rem; } }
    .donate-banner__overlay .box-button--rounded {
      color: #5E3B59;
      margin: 0 auto; }
      .donate-banner__overlay .box-button--rounded:hover {
        color: #FFF;
        background-color: #2E4044; }

.blue-cta-banner {
  background-size: cover;
  background-position: center;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem; }
  @media (min-width: 768px) {
    .blue-cta-banner {
      margin: 3.5rem auto; } }
  .blue-cta-banner p {
    display: block;
    max-width: 60rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    color: #FFF;
    line-height: 1.2; }
    @media (min-width: 480px) {
      .blue-cta-banner p {
        font-size: 1.5rem; } }
    @media (min-width: 768px) {
      .blue-cta-banner p {
        font-size: 1.75rem; } }

.staff-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62.5rem;
  margin: 1.5rem auto 4.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0.5rem; }
  @media (min-width: 976px) {
    .staff-cards {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 0; } }
  .staff-cards .mobile-only {
    display: block;
    margin: 4rem 0 1rem;
    width: 100%; }
    @media (min-width: 407px) {
      .staff-cards .mobile-only {
        display: none; } }
    .staff-cards .mobile-only:first-of-type {
      margin: 0 0 1rem; }
    .staff-cards .mobile-only .h5-heading {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      font-weight: bold;
      border-bottom: 2px solid #235A8A;
      font-family: anivers, sans-serif; }
      .staff-cards .mobile-only .h5-heading:first-of-type {
        margin-top: 0; }
  .staff-cards__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 30.5rem;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 407px) {
      .staff-cards__card {
        padding-top: 2rem; } }
    @media (min-width: 974px) {
      .staff-cards__card {
        padding-top: 0; } }
    .staff-cards__card--image {
      background-position: 100% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 10rem;
      max-width: 9.1rem;
      width: 100%;
      margin-right: 1rem; }
      @media (min-width: 974px) {
        .staff-cards__card--image {
          margin-right: 0; } }
    .staff-cards__card .staff-member-info {
      max-width: 20.5rem; }
      .staff-cards__card .staff-member-info a:not(.learn-more) {
        display: none; }
        @media (min-width: 407px) {
          .staff-cards__card .staff-member-info a:not(.learn-more) {
            display: inline-block; } }
      .staff-cards__card .staff-member-info .h5-heading {
        display: inline-block;
        font-family: anivers, sans-serif;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 2px solid #235A8A; }
      .staff-cards__card .staff-member-info .h6-heading {
        margin-top: 0;
        padding-bottom: 0.3rem;
        font-family: anivers, sans-serif;
        font-weight: normal;
        color: #5E3B59; }
        @media (min-width: 375px) {
          .staff-cards__card .staff-member-info .h6-heading {
            margin-top: 0.8rem; } }
      .staff-cards__card .staff-member-info .staff-blurb {
        padding-top: 0.7rem;
        font-size: 0.975rem;
        border-top: 1px solid #666666;
        padding-bottom: 0; }
      .staff-cards__card .staff-member-info a, .staff-cards__card .staff-member-info p, .staff-cards__card .staff-member-info span {
        padding-left: 0;
        padding-right: 0; }

.recognition-wrapper {
  max-width: 62.5rem;
  margin: 2rem auto 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  padding: 0 0.5rem; }
  @media (min-width: 1023px) {
    .recognition-wrapper {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 0; } }
  .recognition-wrapper img {
    margin-bottom: 1.5rem; }
    @media (min-width: 1023px) {
      .recognition-wrapper img {
        margin-bottom: 0; } }

.recognition-content {
  max-width: 30.5rem; }
  .recognition-content p {
    padding-top: 0;
    padding: 0 0 3.1rem; }
  .recognition-content .rep-info {
    display: inline-block;
    margin-right: 4rem;
    margin-bottom: 2.75rem; }
    @media (min-width: 1023px) {
      .recognition-content .rep-info {
        display: block; } }
    .recognition-content .rep-info:last-of-type {
      margin-right: 0; }
    .recognition-content .rep-info a {
      font-size: 0.9375rem;
      color: #474747; }

/*# sourceMappingURL=block-style.css.map */