/*
	Author: 502 -- Shane
	Author URI: https://weare502.com
	Theme Name: KWCRF
	Description: Custom theme for the Kansas Wheat Commission Research Foundation.
	Version: 0.7
	Text Domain: kwcrf
*/
/** Almost all styles will be located in the [blocks] section **/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
				-webkit-text-size-adjust: 100%;
				/* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
				margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
				display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
				margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
				-webkit-box-sizing: content-box;
				        box-sizing: content-box;
				/* 1 */
				height: 0;
				/* 1 */
				overflow: visible;
				/* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
				font-family: monospace, monospace;
				/* 1 */
				font-size: 1em;
				/* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
				background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
				border-bottom: none;
				/* 1 */
				text-decoration: underline;
				/* 2 */
				-webkit-text-decoration: underline dotted;
				        text-decoration: underline dotted;
				/* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
				font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
				font-family: monospace, monospace;
				/* 1 */
				font-size: 1em;
				/* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
				font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
				font-size: 75%;
				line-height: 0;
				position: relative;
				vertical-align: baseline; }

sub {
				bottom: -0.25em; }

sup {
				top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
				border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
				font-family: inherit;
				/* 1 */
				font-size: 100%;
				/* 1 */
				line-height: 1.15;
				/* 1 */
				margin: 0;
				/* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
				/* 1 */
				overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
				/* 1 */
				text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
				-webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
				border-style: none;
				padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
				outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
				padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
				/* 1 */
				color: inherit;
				/* 2 */
				display: table;
				/* 1 */
				max-width: 100%;
				/* 1 */
				padding: 0;
				/* 3 */
				white-space: normal;
				/* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
				vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
				overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
				/* 1 */
				padding: 0;
				/* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
				height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
				-webkit-appearance: textfield;
				/* 1 */
				outline-offset: -2px;
				/* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
				-webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
				-webkit-appearance: button;
				/* 1 */
				font: inherit;
				/* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
				display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
				display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
				display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
				display: none; }

* {
				-webkit-box-sizing: border-box;
				        box-sizing: border-box; }

html {
				font-size: 16px; }

html, body {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: subpixel-antialiased;
				font-variant-numeric: lining-nums;
				font-feature-settings: "lnum" 1;
				-moz-font-feature-settings: "lnum" 1;
				-webkit-font-feature-settings: "lnum" 1;
				line-height: 1.2;
				overflow-x: hidden; }

img {
				max-width: 100%;
				height: auto; }

.content-wrapper {
				max-width: 100%;
				margin: 0 auto; }

.default-page-container {
				max-width: 62.5rem;
				margin: 2rem auto; }

.fade-in {
				visibility: visible;
				opacity: 1;
				-webkit-transition: 0.8s ease-out;
				transition: 0.8s ease-out; }

.fade-out {
				visibility: hidden;
				opacity: 0;
				-webkit-transition: 0.8s ease-out;
				transition: 0.8s ease-out; }

.shadow-bar {
				display: inline-block;
				width: 100%;
				margin: 0.5rem 0;
				padding: 2px;
				background-color: #FFF;
				-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
				        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
				@media (min-width: 375px) {
								.shadow-bar {
												margin: 1.5rem 0; } }

time {
				display: inline-block;
				color: #5E3B59;
				font-family: kobenhavn, serif;
				font-weight: 500;
				font-style: italic;
				font-size: 1.25rem; }

.wp-block-embed-youtube.wp-block-embed.is-type-video.is-provider-youtube.wp-embed-aspect-16-9.wp-has-aspect-ratio {
				all: unset; }

.wp-block-embed__wrapper {
				position: relative;
				padding: 25px 0 50%;
				max-width: 1000px;
				margin: 2.5rem auto 0;
				height: 0; }
				@media (min-width: 1200px) {
								.wp-block-embed__wrapper {
												padding: 25px 0 35%; } }
				.wp-block-embed__wrapper iframe {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								padding: 0 0.5rem; }
								@media (min-width: 1023px) {
												.wp-block-embed__wrapper iframe {
																padding: 0; } }

.staff-header {
				margin-top: 0.5rem; }

/** NGG Gallery Overrides **/
.sl-caption {
				display: none !important; }

.ngg-galleryoverview.default-view {
				max-width: 62.5rem;
				margin: 3.5rem auto 0; }

.ngg-galleryoverview.default-view .ngg-gallery-thumbnail-box {
				max-width: 11.25rem !important;
				margin-right: 0.5rem;
				margin-left: 0.5rem;
				margin-bottom: 1.5rem; }
				@media (min-width: 768px) {
								.ngg-galleryoverview.default-view .ngg-gallery-thumbnail-box {
												margin-bottom: 0; } }

a, p, span, address, blockquote {
				font-weight: normal;
				font-style: normal;
				font-size: 1rem;
				line-height: 1.5;
				font-family: anivers, sans-serif;
				font-variant-numeric: lining-nums;
				-webkit-font-feature-settings: "lnum" 1;
				font-feature-settings: "lnum" 1; }

p, span.member-name {
				max-width: 62.5rem;
				margin: 0 auto;
				padding-top: 0.8rem;
				padding-bottom: 0.8rem;
				font-size: 1rem;
				color: #474747;
				padding: 0.8rem 0.5rem; }
				@media (min-width: 1023px) {
								p, span.member-name {
												padding: 0.8rem 0;
												font-size: 1.125rem; } }

span.member-name {
				display: block; }

a {
				text-decoration: none;
				-webkit-transition: 0.2s ease-out;
				transition: 0.2s ease-out;
				color: #000; }
				a:hover {
								-webkit-transition: 0.2s ease-out;
								transition: 0.2s ease-out;
								text-decoration: none; }

.small-name-header {
				font-size: 1.125rem;
				font-weight: bold;
				color: #235A8A;
				text-decoration: underline; }

.larger-header {
				font-size: 1.75rem; }
				@media (min-width: 768px) {
								.larger-header {
												font-size: 2.25rem; } }

.h1-heading, h1--w, .h1-heading--w,
.h2-heading,
h2--w,
.h2-heading--w,
.h3-heading,
h3--w,
.h3-heading--w,
.h3-heading--w--w,
.h4-heading,
h4--w,
.h4-heading--w,
.h5-heading,
h5--w,
.h5-heading--w,
.h6-heading,
h6--w,
.h6-heading--w,
h1, h2, h3,
h4, h5, h6 {
				font-family: kobenhavn, serif;
				font-weight: 600;
				margin: 2.5rem auto 0.5rem;
				max-width: 62.5rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				line-height: 1.2; }
				.h1-heading::before, h1--w::before, .h1-heading--w::before, .h1-heading::after, h1--w::after, .h1-heading--w::after,
				.h2-heading::before,
				h2--w::before,
				.h2-heading--w::before,
				.h2-heading::after,
				h2--w::after,
				.h2-heading--w::after,
				.h3-heading::before,
				h3--w::before,
				.h3-heading--w::before,
				.h3-heading--w--w::before,
				.h3-heading::after,
				h3--w::after,
				.h3-heading--w::after,
				.h3-heading--w--w::after,
				.h4-heading::before,
				h4--w::before,
				.h4-heading--w::before,
				.h4-heading::after,
				h4--w::after,
				.h4-heading--w::after,
				.h5-heading::before,
				h5--w::before,
				.h5-heading--w::before,
				.h5-heading::after,
				h5--w::after,
				.h5-heading--w::after,
				.h6-heading::before,
				h6--w::before,
				.h6-heading--w::before,
				.h6-heading::after,
				h6--w::after,
				.h6-heading--w::after,
				h1::before,
				h1::after, h2::before, h2::after, h3::before, h3::after,
				h4::before,
				h4::after, h5::before, h5::after, h6::before, h6::after {
								content: '';
								display: block;
								height: 0;
								width: 0; }
				.h1-heading::before, h1--w::before, .h1-heading--w::before,
				.h2-heading::before,
				h2--w::before,
				.h2-heading--w::before,
				.h3-heading::before,
				h3--w::before,
				.h3-heading--w::before,
				.h3-heading--w--w::before,
				.h4-heading::before,
				h4--w::before,
				.h4-heading--w::before,
				.h5-heading::before,
				h5--w::before,
				.h5-heading--w::before,
				.h6-heading::before,
				h6--w::before,
				.h6-heading--w::before,
				h1::before, h2::before, h3::before,
				h4::before, h5::before, h6::before {
								margin-bottom: calc(-0.4166666667em + 0px); }
				.h1-heading::after, h1--w::after, .h1-heading--w::after,
				.h2-heading::after,
				h2--w::after,
				.h2-heading--w::after,
				.h3-heading::after,
				h3--w::after,
				.h3-heading--w::after,
				.h3-heading--w--w::after,
				.h4-heading::after,
				h4--w::after,
				.h4-heading--w::after,
				.h5-heading::after,
				h5--w::after,
				.h5-heading--w::after,
				.h6-heading::after,
				h6--w::after,
				.h6-heading--w::after,
				h1::after, h2::after, h3::after,
				h4::after, h5::after, h6::after {
								margin-top: calc(-0.0277777778em + 0px); }
				@media (min-width: 1023px) {
								.h1-heading, h1--w, .h1-heading--w,
								.h2-heading,
								h2--w,
								.h2-heading--w,
								.h3-heading,
								h3--w,
								.h3-heading--w,
								.h3-heading--w--w,
								.h4-heading,
								h4--w,
								.h4-heading--w,
								.h5-heading,
								h5--w,
								.h5-heading--w,
								.h6-heading,
								h6--w,
								.h6-heading--w,
								h1, h2, h3,
								h4, h5, h6 {
												padding-left: 0;
												padding-right: 0; } }

.non-block-header {
				color: #2E4044;
				font-weight: 800;
				text-align: center;
				margin-bottom: 0;
				font-size: 1.75rem; }
				@media (min-width: 375px) {
								.non-block-header {
												font-size: 2.25rem; } }
				@media (min-width: 768px) {
								.non-block-header {
												font-size: 3rem; } }

h1, .h1-heading, h1--w, .h1-heading--w {
				font-size: 1.25rem; }
				@media (min-width: 375px) {
								h1, .h1-heading, h1--w, .h1-heading--w {
												font-size: 1.35rem; } }
				@media (min-width: 540px) {
								h1, .h1-heading, h1--w, .h1-heading--w {
												font-size: 2.25rem; } }
				@media (min-width: 1023px) {
								h1, .h1-heading, h1--w, .h1-heading--w {
												font-size: 3.1875rem; } }
				h1--w, .h1-heading--w {
								color: #FFF; }

h2,
.h2-heading,
h2--w,
.h2-heading--w {
				font-size: 2rem; }
				@media (min-width: 375px) {
								h2,
								.h2-heading,
								h2--w,
								.h2-heading--w {
												font-size: 2.5rem; } }
				@media (min-width: 768px) {
								h2,
								.h2-heading,
								h2--w,
								.h2-heading--w {
												font-size: 3rem; } }
				h2--w, .h2-heading--w {
								color: #FFF; }

h3,
.h3-heading,
h3--w,
.h3-heading--w,
.h3-heading--w--w, .h3-heading--w {
				font-size: 1.35rem;
				color: #666666; }
				@media (min-width: 768px) {
								h3,
								.h3-heading,
								h3--w,
								.h3-heading--w,
								.h3-heading--w--w, .h3-heading--w {
												font-size: 2.25rem; } }
				h3--w, .h3-heading--w, .h3-heading--w--w {
								color: #FFF; }

h4,
.h4-heading,
h4--w,
.h4-heading--w {
				font-size: 1.75rem; }
				@media (min-width: 768px) {
								h4,
								.h4-heading,
								h4--w,
								.h4-heading--w {
												font-size: 1.9375rem; } }
				h4--w, .h4-heading--w {
								color: #FFF; }

h5,
.h5-heading,
h5--w,
.h5-heading--w {
				font-size: 1.5rem;
				color: #235A8A; }
				h5--w, .h5-heading--w {
								color: #FFF; }

h6,
.h6-heading,
h6--w,
.h6-heading--w {
				font-size: 1.25rem; }
				h6--w, .h6-heading--w {
								color: #FFF; }

.learn-more {
				color: #235A8A;
				text-decoration: underline;
				-webkit-transition: none;
				transition: none;
				font-size: 0.9375rem;
				padding: 0 0.5rem; }
				@media (min-width: 1023px) {
								.learn-more {
												padding: 0.2rem 0; } }
				.learn-more:hover {
								color: rgba(35, 90, 138, 0.7);
								text-decoration: underline;
								-webkit-transition: none;
								transition: none; }

.box-button, .box-button--rounded {
				display: block;
				background-color: #FFF;
				font-size: 1rem;
				font-weight: 600;
				text-align: center;
				padding: 0.2rem 0.6rem;
				-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
				        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
				width: 9.5rem; }
				@media (min-width: 375px) {
								.box-button, .box-button--rounded {
												font-size: 1.25rem; } }
				@media (min-width: 768px) {
								.box-button, .box-button--rounded {
												font-size: 1.625rem;
												width: 13.5rem; } }
				.box-button:hover, .box-button--rounded:hover {
								color: #FFF; }
				.box-button--rounded {
								border-radius: 8px; }

.slide-button, .slide-button--up, .slide-button--down, .slide-button--left, .slide-button--right {
				display: inline-block;
				max-width: 8rem;
				padding: 0.5rem 1rem;
				border: 2px solid #000;
				color: #000; }
				.slide-button--up:hover, .slide-button--down:hover, .slide-button--left:hover, .slide-button--right:hover {
								color: #FFF; }
				.slide-button--up {
								background-size: 100% 200%;
								-moz-background-size: 100% 199%;
								background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), color-stop(50%, transparent));
								background-image: linear-gradient(to top, #000 50%, transparent 50%);
								-webkit-transition: background-position 0.3s;
								transition: background-position 0.3s; }
								.slide-button--up:hover {
												background-position: 0 100%;
												-webkit-transition: background-position 0.3s;
												transition: background-position 0.3s; }
				.slide-button--down {
								background-size: 100% 200%;
								-moz-background-size: 100% 199%;
								background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #000));
								background-image: linear-gradient(to bottom, transparent 50%, #000 50%);
								-webkit-transition: background-position 0.3s;
								transition: background-position 0.3s; }
								.slide-button--down:hover {
												background-position: 0 -100%;
												-webkit-transition: background-position 0.3s;
												transition: background-position 0.3s; }
				.slide-button--left {
								background-size: 200% 100%;
								background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #000), color-stop(50%, transparent));
								background-image: linear-gradient(to left, #000 50%, transparent 50%);
								-webkit-transition: background-position 0.3s;
								transition: background-position 0.3s; }
								.slide-button--left:hover {
												background-position: 100% 0;
												-webkit-transition: background-position 0.3s;
												transition: background-position 0.3s; }
				.slide-button--right {
								background-size: 200% 100%;
								background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #000));
								background-image: linear-gradient(to right, transparent 50%, #000 50%);
								-webkit-transition: background-position 0.3s;
								transition: background-position 0.3s; }
								.slide-button--right:hover {
												background-position: -100% 0;
												-webkit-transition: background-position 0.3s;
												transition: background-position 0.3s; }

.gform_wrapper {
				max-width: 62.5rem;
				margin: 0 auto 2rem;
				padding: 0 0.5rem; }
				.gform_wrapper .gfield_required {
								display: none; }
				.gform_wrapper .gform_body, .gform_wrapper .gform_footer {
								font-family: anivers, sans-serif; }
				.gform_wrapper .gfield_label, .gform_wrapper label {
								font-family: anivers, sans-serif;
								color: #124253;
								font-size: 1.125rem !important;
								font-weight: bold; }
				.gform_wrapper #field_1_3 .gfield_label_before_complex {
								display: none; }
				.gform_wrapper .gform_body .gform_fields .ginput_container input, .gform_wrapper .gform_body .gform_fields .ginput_container select, .gform_wrapper .gform_body .gform_fields .ginput_container textarea {
								border: unset;
								color: #124253; }
								.gform_wrapper .gform_body .gform_fields .ginput_container input::-webkit-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container select::-webkit-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::-webkit-input-placeholder {
												opacity: 1;
												color: #AFAFAF; }
								.gform_wrapper .gform_body .gform_fields .ginput_container input::-moz-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container select::-moz-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::-moz-placeholder {
												opacity: 1;
												color: #AFAFAF; }
								.gform_wrapper .gform_body .gform_fields .ginput_container input:-ms-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container select:-ms-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea:-ms-input-placeholder {
												opacity: 1;
												color: #AFAFAF; }
								.gform_wrapper .gform_body .gform_fields .ginput_container input::-ms-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container select::-ms-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::-ms-input-placeholder {
												opacity: 1;
												color: #AFAFAF; }
								.gform_wrapper .gform_body .gform_fields .ginput_container input::placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container select::placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::placeholder {
												opacity: 1;
												color: #AFAFAF; }
				.gform_wrapper .gform_body .gform_fields .ginput_container input, .gform_wrapper .gform_body .gform_fields .ginput_container select, .gform_wrapper .gform_body .gform_fields .ginput_container textarea {
								border: 1px solid #C7C7C7;
								border-radius: 8px; }
				.gform_wrapper .gform_body .gform_fields .ginput_container select {
								padding: 0.2rem !important; }
				.gform_wrapper #input_1_1 {
								max-width: 11.4rem; }
				.gform_wrapper #input_1_2_3 {
								max-width: 22.5rem; }
				.gform_wrapper #input_1_3_1, .gform_wrapper #input_1_3_2, .gform_wrapper #input_1_4 {
								max-width: 33.75rem; }
				.gform_wrapper #input_1_3_2 {
								margin-right: 18rem; }
				.gform_wrapper #input_1_3_3, .gform_wrapper .address_city {
								max-width: 17rem !important; }
				.gform_wrapper #input_1_3_3_container {
								margin-right: 5rem; }
				.gform_wrapper #input_1_3_4 {
								max-width: 6.25rem; }
				.gform_wrapper #input_1_3_4_container {
								margin-right: 3rem; }
				.gform_wrapper #input_1_3_5_container {
								max-width: 7.5rem;
								margin-right: 5.5rem; }
				.gform_wrapper #input_1_3_6 {
								max-width: 15.25rem; }
				.gform_wrapper .ginput_container_email {
								margin-bottom: 2rem;
								border-bottom: 2px solid #C7C7C7;
								padding-bottom: 1.5rem; }
				.gform_wrapper #field_1_4 {
								padding-right: 0 !important; }
				.gform_wrapper #input_1_5_1, .gform_wrapper #input_1_5_5 {
								max-width: 24rem; }
				.gform_wrapper #input_1_5_2_month, .gform_wrapper #input_1_5_2_year, .gform_wrapper #input_1_5_3 {
								max-width: 5.75rem; }
				.gform_wrapper .ginput_cardinfo_left {
								max-width: 12rem; }
				.gform_wrapper #field_1_5 {
								border-bottom: 2px solid #C7C7C7;
								padding-bottom: 1.5rem;
								padding-right: 0; }
								.gform_wrapper #field_1_5 .gfield_label {
												display: none !important; }
				.gform_wrapper input[type=radio] {
								margin-top: 3px !important;
								margin-right: 0.3rem !important; }
				.gform_wrapper .gform_footer input[type="submit"] {
								max-width: 9.25rem;
								width: 100% !important;
								padding: 0.6rem 1rem;
								border-radius: 8px;
								background-color: #6BA642;
								color: #FFF;
								-webkit-transition: 0.2s ease-in;
								transition: 0.2s ease-in;
								border: none; }
								.gform_wrapper .gform_footer input[type="submit"]:hover {
												cursor: pointer;
												background-color: rgba(107, 166, 66, 0.8);
												-webkit-transition: 0.2s ease-out;
												transition: 0.2s ease-out; }

.burger-menu {
				cursor: pointer;
				-webkit-transition: -webkit-transform 400ms;
				transition: -webkit-transform 400ms;
				transition: transform 400ms;
				transition: transform 400ms, -webkit-transform 400ms;
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none; }

.menu-rotate.active {
				-webkit-transform: rotate(45deg);
				        transform: rotate(45deg); }

.line {
				fill: none;
				-webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
				transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
				stroke: #000;
				stroke-width: 5.5;
				stroke-linecap: round; }

.stroke-array .top {
				stroke-dasharray: 40 160; }

.stroke-array .middle {
				stroke-dasharray: 40 142;
				-webkit-transform-origin: 50%;
				        transform-origin: 50%;
				-webkit-transition: -webkit-transform 400ms;
				transition: -webkit-transform 400ms;
				transition: transform 400ms;
				transition: transform 400ms, -webkit-transform 400ms; }

.stroke-array .bottom {
				stroke-dasharray: 40 85;
				-webkit-transform-origin: 50%;
				        transform-origin: 50%;
				-webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
				transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
				transition: transform 400ms, stroke-dashoffset 400ms;
				transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms; }

.stroke-array.active .top {
				stroke-dashoffset: -64px; }

.stroke-array.active .middle {
				-webkit-transform: rotate(90deg);
				        transform: rotate(90deg); }

.stroke-array.active .bottom {
				stroke-dashoffset: -64px; }

.nav-wrapper {
				max-width: 100%;
				margin: 0 auto;
				-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
				        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
				z-index: 20;
				position: relative;
				background-color: #FFF; }

.nav-container {
				max-width: 75rem;
				margin: 0 auto; }
				.nav-container .logo > img {
								max-width: 16.5rem;
								margin-left: -1.7rem; }

.nav-border {
				display: block;
				max-width: 75rem;
				height: 5px;
				margin: -0.15rem auto 0;
				background-color: #5E3B59;
				position: relative;
				z-index: 99; }

#menu-toggle {
				display: none; }

@media (min-width: 63.9375em) {
				.nav-container {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: horizontal;
								-webkit-box-direction: normal;
								    -ms-flex-direction: row;
								        flex-direction: row;
								-webkit-box-pack: justify;
								    -ms-flex-pack: justify;
								        justify-content: space-between;
								-webkit-box-align: center;
								    -ms-flex-align: center;
								        align-items: center; }
								.nav-container a {
												font-family: kobenhavn, serif; }
								.nav-container #primary-menu {
												display: -webkit-box;
												display: -ms-flexbox;
												display: flex;
												-webkit-box-pack: justify;
												    -ms-flex-pack: justify;
												        justify-content: space-between;
												width: 50rem;
												margin-bottom: 0; }
								.nav-container ul {
												list-style: none;
												padding-left: 0;
												position: relative; }
												.nav-container ul li {
																text-align: center;
																width: 11rem; }
																.nav-container ul li a {
																				display: inline-block;
																				font-size: 1.375rem;
																				font-weight: 300;
																				vertical-align: middle;
																				text-align: center;
																				-webkit-transition: none;
																				transition: none;
																				padding: 0 0.6rem 1.8rem; }
																				.nav-container ul li a:hover {
																								color: #5E3B59;
																								font-weight: 500;
																								-webkit-transition: none;
																								transition: none;
																								cursor: pointer; }
												.nav-container ul #menu-item-75 {
																background-color: #5E3B59;
																background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.35)));
																background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
																width: unset;
																-webkit-transition: 0.2s ease-out;
																transition: 0.2s ease-out;
																margin: 0;
																padding: 0;
																-ms-flex-item-align: start;
																    -ms-grid-row-align: start;
																    align-self: start; }
																.nav-container ul #menu-item-75:hover {
																				background-color: rgba(94, 59, 89, 0.8); }
																.nav-container ul #menu-item-75 > a {
																				color: #FFF;
																				font-style: italic;
																				padding: 0 1.8rem 0.7rem; }
																				.nav-container ul #menu-item-75 > a:hover {
																								font-weight: 300 !important; }
												.nav-container ul .current-menu-item > a {
																color: #5E3B59;
																font-weight: 500; }
												.nav-container ul .menu-item-has-children {
																-webkit-transition: 0.3s ease-out;
																transition: 0.3s ease-out; }
																.nav-container ul .menu-item-has-children .sub-menu {
																				visibility: hidden;
																				opacity: 0;
																				position: absolute;
																				top: 4.1rem;
																				margin-left: 0.75rem;
																				-webkit-transition: 0.3s ease-out;
																				transition: 0.3s ease-out; }
																				.nav-container ul .menu-item-has-children .sub-menu .menu-item {
																								background-color: rgba(94, 59, 89, 0.5); }
																								.nav-container ul .menu-item-has-children .sub-menu .menu-item:hover {
																												background-color: #FFF; }
																												.nav-container ul .menu-item-has-children .sub-menu .menu-item:hover a {
																																color: #5E3B59; }
																				.nav-container ul .menu-item-has-children .sub-menu li {
																								max-width: 9rem; }
																				.nav-container ul .menu-item-has-children .sub-menu a {
																								padding: 0 0.2rem 0.7rem;
																								color: #FFF; }
																.nav-container ul .menu-item-has-children:hover {
																				-webkit-transition: 0.3s ease-out;
																				transition: 0.3s ease-out; }
																				.nav-container ul .menu-item-has-children:hover .sub-menu {
																								visibility: visible;
																								opacity: 1;
																								-webkit-transition: 0.3s ease-out;
																								transition: 0.3s ease-out; } }

@media (max-width: 63.9375em) {
				.nav-container {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: horizontal;
								-webkit-box-direction: normal;
								    -ms-flex-direction: row;
								        flex-direction: row;
								max-width: 100%;
								padding: 0 0.5rem;
								-webkit-box-pack: justify;
								    -ms-flex-pack: justify;
								        justify-content: space-between;
								-webkit-box-align: end;
								    -ms-flex-align: end;
								        align-items: flex-end; }
								.nav-container #primary-menu {
												margin-top: 0.5rem;
												-webkit-box-shadow: 0 1px 4px rgba(71, 71, 71, 0.6);
												        box-shadow: 0 1px 4px rgba(71, 71, 71, 0.6); }
								.nav-container .nav-menu {
												padding-bottom: 0.5rem; }
								.nav-container ul {
												list-style: none;
												padding-left: 0;
												text-align: right; }
												.nav-container ul li {
																margin-bottom: 1rem; }
												.nav-container ul a {
																padding: 0.5rem; }
								.nav-container .menu-item-156 > a, .nav-container .menu-item-155 > a {
												display: none; }
								.nav-container .menu-item-75 {
												margin-bottom: 0; }
								.nav-container #menu-toggle {
												display: inline-block; }
								.nav-container .menu {
												visibility: hidden;
												opacity: 0;
												position: absolute;
												right: 0;
												width: 10rem;
												background-color: #FFF;
												-webkit-transition: 0.3s ease-out;
												transition: 0.3s ease-out;
												padding: 1rem 1.5rem; }
								.nav-container .menu-open {
												-webkit-transition-delay: 0;
												        transition-delay: 0;
												visibility: visible;
												opacity: 1;
												width: 100%;
												-webkit-transition: 0.3s ease-out;
												transition: 0.3s ease-out; } }

.main-header {
				max-width: 100%;
				margin: 0 auto;
				position: relative;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				margin-top: -3rem; }
				.main-header .title-box {
								padding-top: 4rem;
								padding-bottom: 4rem;
								max-width: 55rem;
								margin: 0 auto; }
								@media (min-width: 768px) {
												.main-header .title-box {
																padding-top: 6.5rem;
																padding-bottom: 6.5rem; } }
								.main-header .title-box h1 {
												text-align: center;
												text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
												margin-bottom: 0; }
												@media (min-width: 375px) {
																.main-header .title-box h1 {
																				margin-bottom: 1.2rem; } }
								.main-header .title-box .default-title {
												font-weight: 800;
												text-shadow: 0 0 25px rgba(0, 0, 0, 0.85);
												font-size: 2.625rem; }
												@media (min-width: 480px) {
																.main-header .title-box .default-title {
																				font-size: 3.625rem; } }
												@media (min-width: 768px) {
																.main-header .title-box .default-title {
																				font-size: 4.625rem; } }

.header-wrapper .main-header:after {
				content: '';
				width: 100%;
				padding: 0.8rem;
				position: absolute;
				bottom: -2px;
				background-image: url("static/images/brushstroke-bottom.png");
				background-position: center;
				background-size: cover;
				background-repeat: repeat; }
				@media (min-width: 768px) {
								.header-wrapper .main-header:after {
												background-size: contain; } }
				@media (min-width: 943px) {
								.header-wrapper .main-header:after {
												padding: 1rem; } }

.home-header {
				position: relative;
				width: 100vw;
				top: -3px; }
				@media (min-width: 1023px) {
								.home-header {
												height: 83vh;
												overflow: hidden; } }
				.home-header #background-video {
								display: none; }
								@media (min-width: 1023px) {
												.home-header #background-video {
																display: block;
																position: relative;
																width: 100vw;
																-o-object-fit: cover;
																   object-fit: cover; } }
				.home-header .mobile-image-header {
								display: block;
								position: relative;
								max-width: 100%; }
								@media (min-width: 1023px) {
												.home-header .mobile-image-header {
																display: none; } }
				.home-header .header-text-overlay {
								position: absolute;
								max-width: 56rem;
								width: 100%;
								text-align: center;
								top: 28%;
								left: 50%;
								-webkit-transform: translate(-50%, -30%);
								        transform: translate(-50%, -30%);
								padding: 0 0.5rem; }
								.home-header .header-text-overlay h1 {
												text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); }
								.home-header .header-text-overlay .box-button--rounded {
												display: inline-block;
												color: #5E3B59; }
												@media (min-width: 420px) {
																.home-header .header-text-overlay .box-button--rounded {
																				margin-right: 1.5rem;
																				margin-left: 1.5rem; } }
												.home-header .header-text-overlay .box-button--rounded:hover {
																cursor: pointer;
																color: #FFF;
																background-color: #5E3B59; }
				.home-header .video-modal-container {
								display: block;
								max-width: 80rem;
								width: 100%;
								position: absolute;
								top: 49%;
								left: 50%;
								-webkit-transform: translate(-50%, -50%);
								        transform: translate(-50%, -50%);
								z-index: 8; }
								.home-header .video-modal-container #video-modal {
												width: 100%;
												-o-object-fit: cover;
												   object-fit: cover; }
				.home-header #close-video {
								position: absolute;
								top: 0.3rem;
								right: 0.2rem;
								width: 3rem;
								z-index: 20;
								padding: 0.3rem 0.2rem;
								border: none; }
								.home-header #close-video:hover {
												cursor: pointer;
												background-color: #474747;
												color: #FFF; }
				.home-header:after {
								content: '';
								width: 100%;
								padding: 0.8rem;
								position: absolute;
								bottom: -2px;
								z-index: 5;
								background-image: url("static/images/brushstroke-bottom.png");
								background-position: center;
								background-size: cover;
								background-repeat: repeat; }
								@media (min-width: 768px) {
												.home-header:after {
																background-size: contain; } }
								@media (min-width: 943px) {
												.home-header:after {
																padding: 1rem; } }
				.home-header .darken {
								display: none;
								position: absolute;
								top: 0;
								left: 0;
								width: 100vw;
								height: 100vh;
								overflow: hidden;
								background-color: rgba(0, 0, 0, 0.95);
								background-blend-mode: multiply;
								z-index: 7; }

.featured-article-container {
				margin-top: 1.7rem;
				margin-bottom: 2rem;
				max-width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: relative; }
				.featured-article-container:before {
								content: '';
								width: 100%;
								padding: 0.8rem;
								position: absolute;
								top: -2px;
								background-image: url("static/images/brushstroke-top.png");
								background-position: center;
								background-size: cover;
								background-repeat: repeat; }
								@media (min-width: 768px) {
												.featured-article-container:before {
																background-size: contain; } }
								@media (min-width: 943px) {
												.featured-article-container:before {
																padding: 1rem; } }
				.featured-article-container:after {
								content: '';
								width: 100%;
								padding: 0.8rem;
								position: absolute;
								bottom: -2px;
								background-image: url("static/images/brushstroke-bottom.png");
								background-position: center;
								background-size: cover;
								background-repeat: repeat; }
								@media (min-width: 768px) {
												.featured-article-container:after {
																background-size: contain; } }
								@media (min-width: 943px) {
												.featured-article-container:after {
																padding: 1rem; } }
				.featured-article-container .article-content {
								padding-top: 0.2rem;
								padding-bottom: 3rem;
								max-width: 50rem;
								margin: 0 auto;
								text-align: center; }
								.featured-article-container .article-content .h3-heading--w, .featured-article-container .article-content p {
												line-height: 1.1;
												color: #FFF; }
								.featured-article-container .article-content .h3-heading--w {
												max-width: 36.5rem; }
								.featured-article-container .article-content p {
												font-size: 1.15rem;
												padding: 1.5rem 0.5rem; }
												@media (min-width: 375px) {
																.featured-article-container .article-content p {
																				font-size: 1.25rem; } }
								.featured-article-container .article-content .box-button--rounded {
												color: #7FA64C;
												margin: 0 auto; }
												.featured-article-container .article-content .box-button--rounded:hover {
																color: #FFF;
																background-color: #2E4044; }

.footer-container {
				clear: both;
				background-color: #2E4044;
				max-width: 100%;
				margin: 0 auto;
				padding: 0 1rem; }

.footer-rows {
				max-width: 75rem;
				margin: 0 auto;
				padding: 2rem 0; }
				.footer-rows ul {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								max-width: 100%;
								margin: 0 auto;
								padding: 0 0 1rem;
								list-style-type: none;
								-ms-flex-pack: distribute;
								    justify-content: space-around;
								-webkit-box-align: center;
								    -ms-flex-align: center;
								        align-items: center;
								-ms-flex-wrap: wrap;
								    flex-wrap: wrap; }
								@media (min-width: 768px) {
												.footer-rows ul {
																padding: 0 0 2rem;
																-webkit-box-pack: justify;
																    -ms-flex-pack: justify;
																        justify-content: space-between; } }
								.footer-rows ul li {
												margin: 0.5rem; }
												@media (min-width: 768px) {
																.footer-rows ul li {
																				margin: 0; } }
								.footer-rows ul li a {
												padding: 0.5rem;
												font-size: 0.9375rem;
												font-weight: bold;
												color: #FFF; }
												.footer-rows ul li a:hover {
																text-decoration: underline; }
								@media (min-width: 768px) {
												.footer-rows ul #menu-item-124 a {
																padding-left: 0; }
												.footer-rows ul #menu-item-130 a {
																padding-right: 0; } }
				.footer-rows__middle-social {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: vertical;
								-webkit-box-direction: reverse;
								    -ms-flex-direction: column-reverse;
								        flex-direction: column-reverse;
								-ms-flex-pack: distribute;
								    justify-content: space-around;
								-webkit-box-align: center;
								    -ms-flex-align: center;
								        align-items: center;
								max-width: 100%;
								margin: 0 auto;
								padding: 1.5rem 0;
								border-top: 2px solid #979797;
								border-bottom: 2px solid #979797; }
								@media (min-width: 480px) {
												.footer-rows__middle-social {
																-webkit-box-orient: horizontal;
																-webkit-box-direction: normal;
																    -ms-flex-direction: row;
																        flex-direction: row;
																-ms-flex-wrap: nowrap;
																    flex-wrap: nowrap; } }
								@media (min-width: 768px) {
												.footer-rows__middle-social {
																-webkit-box-pack: justify;
																    -ms-flex-pack: justify;
																        justify-content: space-between; } }
								.footer-rows__middle-social img {
												display: none; }
												@media (min-width: 768px) {
																.footer-rows__middle-social img {
																				display: inline-block;
																				max-width: 9rem; } }
								.footer-rows__middle-social .brand {
												display: -webkit-box;
												display: -ms-flexbox;
												display: flex;
												-webkit-box-pack: justify;
												    -ms-flex-pack: justify;
												        justify-content: space-between;
												-webkit-box-align: center;
												    -ms-flex-align: center;
												        align-items: center; }
												@media (min-width: 768px) {
																.footer-rows__middle-social .brand {
																				max-width: 23.5rem;
																				width: 100%; } }
												.footer-rows__middle-social .brand address, .footer-rows__middle-social .brand a {
																color: #FFF;
																line-height: 1.3; }
												.footer-rows__middle-social .brand address {
																text-align: center; }
																@media (min-width: 480px) {
																				.footer-rows__middle-social .brand address {
																								text-align: left; } }
								.footer-rows__middle-social .social {
												padding-bottom: 1.5rem; }
												@media (min-width: 480px) {
																.footer-rows__middle-social .social {
																				padding-bottom: 0; } }
												.footer-rows__middle-social .social p {
																color: #FFF;
																font-weight: bold;
																font-size: 0.9375rem;
																text-align: center;
																margin-top: 0;
																margin-bottom: 0;
																padding-top: 0;
																padding-bottom: 0.8rem; }
																@media (min-width: 768px) {
																				.footer-rows__middle-social .social p {
																								text-align: right; } }
												.footer-rows__middle-social .social svg {
																margin-right: 0.3rem; }
																.footer-rows__middle-social .social svg path {
																				fill: #FFF; }
																.footer-rows__middle-social .social svg:hover path {
																				fill: #A4A4A4; }
												.footer-rows__middle-social .social .last svg {
																margin-right: 0; }
												.footer-rows__middle-social .social svg#Layer_1 {
																width: 34px;
																height: 34px; }
				.footer-rows__bottom-legal {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								max-width: 100%;
								-webkit-box-pack: center;
								    -ms-flex-pack: center;
								        justify-content: center;
								-webkit-box-align: center;
								    -ms-flex-align: center;
								        align-items: center;
								padding-top: 1rem;
								text-align: center;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								    -ms-flex-direction: column;
								        flex-direction: column; }
								@media (min-width: 768px) {
												.footer-rows__bottom-legal {
																-webkit-box-orient: horizontal;
																-webkit-box-direction: normal;
																    -ms-flex-direction: row;
																        flex-direction: row;
																-webkit-box-align: start;
																    -ms-flex-align: start;
																        align-items: flex-start;
																-webkit-box-pack: justify;
																    -ms-flex-pack: justify;
																        justify-content: space-between;
																text-align: unset; } }
								.footer-rows__bottom-legal p, .footer-rows__bottom-legal a {
												font-size: 0.875rem;
												color: #ECECEC;
												margin: 0;
												text-decoration: none;
												line-height: 1.3; }
								.footer-rows__bottom-legal p {
												padding: 0; }
								.footer-rows__bottom-legal a {
												text-align: center;
												margin-bottom: 0.3rem; }
												@media (min-width: 768px) {
																.footer-rows__bottom-legal a {
																				margin-bottom: 0; } }
												@media (min-width: 1023px) {
																.footer-rows__bottom-legal a {
																				text-align: unset; } }
												.footer-rows__bottom-legal a:hover {
																color: #FFF;
																text-decoration: underline; }
								.footer-rows__bottom-legal .logo {
												position: relative;
												bottom: -3px; }
												.footer-rows__bottom-legal .logo img {
																margin-right: -1px; }
								.footer-rows__bottom-legal .center-links {
												display: -webkit-box;
												display: -ms-flexbox;
												display: flex;
												-webkit-box-orient: vertical;
												-webkit-box-direction: normal;
												    -ms-flex-direction: column;
												        flex-direction: column;
												max-width: 25rem;
												-webkit-box-pack: center;
												    -ms-flex-pack: center;
												        justify-content: center;
												padding: 1.5rem 0; }
												@media (min-width: 768px) {
																.footer-rows__bottom-legal .center-links {
																				padding: 0; } }
												@media (min-width: 1023px) {
																.footer-rows__bottom-legal .center-links {
																				-webkit-box-orient: horizontal;
																				-webkit-box-direction: normal;
																				    -ms-flex-direction: row;
																				        flex-direction: row;
																				-webkit-box-pack: justify;
																				    -ms-flex-pack: justify;
																				        justify-content: space-between;
																				width: 100%; } }
												@media (min-width: 1200px) {
																.footer-rows__bottom-legal .center-links {
																				margin-left: -6rem; } }
												.footer-rows__bottom-legal .center-links .learn-more {
																padding: 0 0.5rem; }

.news-article h3 {
				margin: 1.5rem 0; }

.news-article time {
				margin-bottom: 2rem;
				padding: 0 0.5rem; }
				@media (min-width: 1023px) {
								.news-article time {
												padding: 0; } }

.news-article__content img, .news-article__content .alignnone {
				display: block;
				margin: 0.375rem auto 0;
				padding: 0 0.5rem 0.5rem; }
				@media (min-width: 500px) {
								.news-article__content img, .news-article__content .alignnone {
												max-width: 18.75rem;
												float: left;
												margin-right: 1rem; } }

.news-article__content .alignright, .news-article__content .alignleft {
				display: block;
				margin: 0.375rem auto 0;
				padding: 0 0.5rem 0.5rem;
				width: 100%; }
				@media (min-width: 500px) {
								.news-article__content .alignright, .news-article__content .alignleft {
												width: unset;
												max-width: 18.75rem; } }
				@media (min-width: 1023px) {
								.news-article__content .alignright, .news-article__content .alignleft {
												padding: 0; } }

@media (min-width: 500px) {
				.news-article__content .alignright {
								float: right;
								margin-left: 1rem; } }

@media (min-width: 500px) {
				.news-article__content .alignleft {
								float: left;
								margin-right: 1rem; } }

.news-article__content .aligncenter, .news-article__content .alignwide {
				float: none;
				max-width: 100%;
				margin: 0 auto;
				padding: 0.5rem; }
				@media (min-width: 500px) {
								.news-article__content .aligncenter, .news-article__content .alignwide {
												padding: 1rem 0; } }

.news-article__content p {
				font-size: 1.125rem;
				color: #474747;
				padding-top: 0; }
				.news-article__content p img, .news-article__content p .alignleft, .news-article__content p .alignright,
				.news-article__content p .aligncenter, .news-article__content p .alignnone, .news-article__content p .alignwide {
								padding: 0.5rem 0; }

.news-article__content a {
				color: #5E3B59;
				text-decoration: none;
				font-weight: bold; }
				.news-article__content a:hover {
								text-decoration: underline; }

.research-article-wrapper {
				max-width: 100%;
				margin: 3.75rem auto;
				position: relative;
				padding: 2rem 0 5.5rem;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat; }
				.research-article-wrapper:before {
								content: '';
								width: 100%;
								padding: 0.8rem;
								position: absolute;
								top: 0;
								background-image: url("static/images/brushstroke-top.png");
								background-position: center;
								background-size: cover;
								background-repeat: repeat; }
								@media (min-width: 768px) {
												.research-article-wrapper:before {
																background-size: contain; } }
								@media (min-width: 943px) {
												.research-article-wrapper:before {
																padding: 1rem; } }
				.research-article-wrapper:after {
								content: '';
								width: 100%;
								padding: 0.8rem;
								position: absolute;
								bottom: 0;
								background-image: url("static/images/brushstroke-bottom.png");
								background-position: center;
								background-size: cover;
								background-repeat: repeat; }
								@media (min-width: 768px) {
												.research-article-wrapper:after {
																background-size: contain; } }
								@media (min-width: 943px) {
												.research-article-wrapper:after {
																padding: 1rem; } }
				.research-article-wrapper h2 {
								text-align: center;
								margin-top: 1.5rem;
								margin-bottom: 2rem;
								padding-top: 1rem; }
								@media (min-width: 640px) {
												.research-article-wrapper h2 {
																padding-top: 2rem; } }
								@media (min-width: 930px) {
												.research-article-wrapper h2 {
																padding-top: 0; } }
				.research-article-wrapper .research-articles {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								max-width: 62.5rem;
								margin: 0 auto;
								-ms-flex-pack: distribute;
								    justify-content: space-around;
								-webkit-box-align: center;
								    -ms-flex-align: center;
								        align-items: center;
								-ms-flex-wrap: wrap;
								    flex-wrap: wrap; }
								@media (min-width: 930px) {
												.research-article-wrapper .research-articles {
																padding: 0 0.5rem; } }
								.research-article-wrapper .research-articles .research-card {
												max-width: 18.75rem;
												width: 100%;
												padding: 9.5rem 0;
												background-size: cover;
												background-repeat: no-repeat;
												background-position: center;
												position: relative;
												margin-bottom: 1.5rem; }
												@media (min-width: 930px) {
																.research-article-wrapper .research-articles .research-card {
																				margin-bottom: 0;
																				padding: 12.5rem 0; } }
												.research-article-wrapper .research-articles .research-card .frosted-overlay {
																position: absolute;
																bottom: 0;
																width: 100%;
																padding: 1rem;
																background-color: rgba(244, 244, 244, 0.85);
																min-height: 10.5rem; }
												.research-article-wrapper .research-articles .research-card h5 {
																margin-top: 0;
																margin-bottom: 0;
																font-family: anivers, sans-serif;
																font-size: 1.35rem; }
																@media (min-width: 1023px) {
																				.research-article-wrapper .research-articles .research-card h5 {
																								font-size: 1.5rem; } }
												.research-article-wrapper .research-articles .research-card .learn-more {
																color: #666666;
																position: absolute;
																bottom: 0;
																font-style: italic;
																font-size: 1rem;
																padding-bottom: 0.5rem; }
																.research-article-wrapper .research-articles .research-card .learn-more:hover {
																				color: rgba(102, 102, 102, 0.8); }
				.research-article-wrapper .adjust-spacing {
								-ms-flex-pack: distribute;
								    justify-content: space-around; }

.article-stub {
				max-width: 41rem;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				padding: 1.75rem 0.5rem 2.25rem;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center; }
				@media (min-width: 600px) {
								.article-stub {
												-webkit-box-align: initial;
												    -ms-flex-align: initial;
												        align-items: initial;
												-webkit-box-pack: unset;
												    -ms-flex-pack: unset;
												        justify-content: unset;
												border-bottom: 2px solid #979797;
												padding: 1.75rem 0.5rem 1.25rem; } }
				@media (min-width: 1023px) {
								.article-stub {
												padding: 1.75rem 0 1.25rem; } }
				.article-stub .h5-heading, .article-stub h5--w, .article-stub .h5-heading--w {
								display: inline-block;
								margin-top: 0.4rem;
								font-family: anivers, sans-serif;
								margin-bottom: 0.4rem;
								padding-left: 0;
								padding-right: 0; }
				.article-stub .keep-aspect {
								display: none; }
								@media (min-width: 600px) {
												.article-stub .keep-aspect {
																display: inline-block;
																width: 100%;
																max-width: 9rem;
																margin-right: 2rem; } }
				.article-stub .article-details {
								max-width: 23.75rem;
								border-bottom: 2px solid #979797; }
								@media (min-width: 600px) {
												.article-stub .article-details {
																border-bottom: none; } }
								.article-stub .article-details p {
												color: #474747;
												font-size: 0.9375rem;
												padding-left: 0;
												padding-right: 0; }
								.article-stub .article-details .article-slice > h1, .article-stub .article-details .article-slice > h2, .article-stub .article-details .article-slice > h3,
								.article-stub .article-details .article-slice > h4, .article-stub .article-details .article-slice > h5, .article-stub .article-details .article-slice > h6 {
												font-size: 1.1rem;
												margin: 0;
												padding: 1rem 0 0.3rem; }
								.article-stub .article-details .article-slice p {
												color: #474747;
												font-size: 0.9375rem;
												padding-left: 0;
												padding-right: 0;
												padding-bottom: 0.2rem; }
								.article-stub .article-details .learn-more {
												font-style: italic;
												color: #666666;
												padding-left: 0;
												padding-right: 0; }
												.article-stub .article-details .learn-more:hover {
																color: rgba(102, 102, 102, 0.8); }

.member-heading {
				font-family: anivers, sans-serif;
				text-align: center; }

@media (min-width: 600px) {
				#board-members {
								margin-bottom: 2rem; } }

.members {
				max-width: 33.5rem;
				margin: 0 auto;
				-webkit-column-count: 2;
				   -moz-column-count: 2;
				        column-count: 2;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				padding: 0;
				text-align: center; }
				@media (min-width: 600px) {
								.members {
												text-align: left;
												-webkit-column-count: 3;
												   -moz-column-count: 3;
												        column-count: 3;
												-webkit-column-gap: 6.125rem;
												   -moz-column-gap: 6.125rem;
												        column-gap: 6.125rem; } }
				.members__inner {
								display: inline-block;
								width: 9.25rem;
								margin: 0 0 1.5rem; }
								.members__inner .member-name {
												font-weight: bold;
												padding-top: 0;
												padding-bottom: 0; }
								.members__inner p {
												padding-top: 0;
												padding-bottom: 0;
												font-size: 0.9375rem; }

.staff-member {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				max-width: 62.5rem;
				margin: 2.75rem auto 3.75rem;
				padding: 0 0.5rem;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap; }
				@media (min-width: 800px) {
								.staff-member {
												-ms-flex-wrap: nowrap;
												    flex-wrap: nowrap; } }
				.staff-member__about {
								max-width: 38rem; }
								.staff-member__about .larger-header {
												padding: 0;
												margin-top: 0; }
								.staff-member__about .staff-title {
												max-width: 31.875rem;
												font-family: kobenhavn, serif;
												font-size: 1.35rem;
												font-style: italic;
												font-weight: bold;
												margin: 0 0 0.5rem;
												padding: 0 0 0.5rem !important;
												color: #5E3B59;
												border-bottom: 1px solid #979797; }
												@media (min-width: 768px) {
																.staff-member__about .staff-title {
																				font-size: 1.75rem; } }
								.staff-member__about p:not(.staff-title) {
												padding-left: 0;
												padding-right: 0; }
				.staff-member__contact {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-pack: justify;
								    -ms-flex-pack: justify;
								        justify-content: space-between;
								max-width: 30rem;
								width: 100%;
								margin-top: 2.25rem;
								-ms-flex-wrap: wrap;
								    flex-wrap: wrap; }
								@media (min-width: 800px) {
												.staff-member__contact {
																margin-top: 0;
																max-width: 17.8rem;
																margin-left: 1.5rem;
																-webkit-box-orient: vertical;
																-webkit-box-direction: normal;
																    -ms-flex-direction: column;
																        flex-direction: column; } }
								.staff-member__contact .staff-image {
												background-position: 100% 28%;
												background-repeat: no-repeat;
												background-size: cover;
												width: 17.8rem;
												padding-top: 17.8rem;
												margin: 0 auto 2.75rem; }
												@media (min-width: 465px) {
																.staff-member__contact .staff-image {
																				margin-bottom: 0; } }
												@media (min-width: 768px) {
																.staff-member__contact .staff-image {
																				margin: 0 0 2.75rem 0; } }
								.staff-member__contact .contact-inner {
												width: 17.8rem;
												margin: 0 auto; }
												@media (min-width: 465px) {
																.staff-member__contact .contact-inner {
																				margin: unset;
																				width: unset; } }
												.staff-member__contact .contact-inner .small-name-header {
																text-decoration: none; }
												.staff-member__contact .contact-inner .contact-icon {
																margin-bottom: 0;
																max-width: 1rem;
																margin-right: 0.5rem;
																vertical-align: middle; }
												.staff-member__contact .contact-inner a {
																display: inline-block;
																font-size: 0.9375rem;
																color: #474747;
																margin-bottom: 0.25rem; }
/*# sourceMappingURL=style.css.map */