{#
  * Block Name: Quote / Testimonial
  * This is the template that displays a blockquote (picked randomly if more than 1 is added)
#}

<section class="blockquote-container">
	<blockquote>“{{ quote }}”</blockquote>
	<h5>{{ quote_author }}</h5>
	<p>{{ author_title }}</p>
</section>