{#
  * Block Name: Blue CTA Banner
  * This is the template that displays a blue call to action banner with a textured background.
#}

<div class="blue-cta-banner" style="background-image: url('{{ theme.link }}/static/images/blue-texture-bg.jpg');">
	<p>{{ fields.blue_banner_text }}</p>
</div>