{#
  * Block Name: Call to Action Card Row
  * This is the template that displays a row of 3 call to action cards.
#}

<section id="{{ block.id }}" class="cta-block-row">
	{% for card in fields.cta_card_row %}
		<div class="card-block">
			<img src="{{ TimberImage( card.card_image ).src }}" alt="{{ TimberImage( card.card_image ).alt }}" />
			<h4>{{ card.card_title }}</h4>
			<p>{{ card.card_text }}</p>
		</div>
	{% endfor %}
</section>