{#
  * Block Name: Full-width CTA Card
  * This is the template that displays a full-width page section (card style).
#}

<div class="cta-block-row fw-block-card">
	<div class="text-content">
		<h2 class="non-block-header">{{ fields.card_block_header }}</h2>
		<p>{{ fields.card_block_information }}</p>
	</div>
	{% set fw_image = fields.card_block_image %}
	<img class="fw-image" src="{{ TimberImage( fw_image ).src }}" alt="{{ TimberImage( fw_image ).alt }}" />
</div>