{#
  * Block Name: Donate Banner
  * This is the template that displays a Donate Banner / Bar (includes tagline and donate button).
#}

<section class="donate-banner" style="background-image: url('{{ theme.link }}/static/images/maroon-bg.jpg');">
	<div class="donate-banner__overlay">
		<p>Support a sustainable wheat future for Kansas.</p>
		<a class="box-button--rounded" href="/donate-today/">Donate Today</a>
	</div>
</section>