{#
  * Block Name: Recognition Block
  * This is the template that displays a recognition block with image right and representative
    contact information on the left.
#}

<section id="{{ block.id }}" class="recognition-wrapper">
	<div class="recognition-content">
		<p>{{ fields.information_section }}</p>

		{% for rep in fields.rep_contact_info %}
			<div class="rep-info">
				<a href="{{ rep.rep_link }}"><span class="small-name-header">{{ rep.rep_name }}</span></a><br>
				<a href="tel:{{ rep.rep_phone }}">{{ rep.rep_phone }}</a><br>
				<a href="mailto:{{ rep.rep_email }}">{{ rep.rep_email }}</a>
			</div>
		{% endfor %}
	</div>

	<img src="{{ TimberImage( fields.recognition_image ).src }}" alt="{{ TimberImage( fields.recognition_image ).alt }}" />
</section>