{#
  * Block Name: Staff Card
  * This is the template that displays a Staff person in card format
#}

<section class="staff-cards">
	{% for staff in fields.staff_member_cards %}
		{# this link is for mobile only #}
		<a class="mobile-only" href="{{ staff.staff_member_link }}"><span class="h5-heading">{{ staff.staff_member_name }}</span></a>
		<div class="staff-cards__card">
			<div class="staff-cards__card--image" style="background-image: url('{{ TimberImage( staff.staff_member_image ).src }}');"></div>

			<div class="staff-member-info">
				{# replaces mobile-only link #}
				<a href="{{ staff.staff_member_link }}"><span class="h5-heading">{{ staff.staff_member_name }}</span></a>
				<p class="h6-heading">{{ staff.staff_member_role }}</p>
				<p class="staff-blurb">{{ staff.staff_member_blurb }}</p>
				<a href="{{ staff.staff_member_link }}" class="learn-more">Contact</a>
			</div>
		</div>
	{% endfor %}
</section>