{#
  * Block Name: 2 Column Masonry Grid
  * This is the template that displays a 2 column masonry grid (Infinite, Independent rows)
#}

<section id="{{ block.id }}" class="masonry-grid-columns">
	{% for g_item in fields.grid_block %}
		<div class="masonry-block">
			<img src="{{ TimberImage( g_item.masonry_image ).src }}" alt="{{ TimberImage( g_item.masonry_image ).alt }}">
			<h5>{{ g_item.grid_item_header }}</h5>
			<div class="grid-text-content">
				{{ g_item.grid_item_content }}
			</div>
		</div>
	{% endfor %}
</section>