{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
<section class="default-page-container">
	<h3 class="larger-header">Recent News</h3>
	{% for news in news_articles %}
		<article class="article-stub">
			{% if news.article_stub_image %}
				<div class="keep-aspect">
					<img src="{{ TimberImage( news.article_stub_image ).src }}" alt="{{ TimberImage( news.article_stub_image ).alt }}" />
				</div>
			{% elseif not news.article_stub_image %}
				{% if news.research_card_image %}
					<div class="keep-aspect">
						<img src="{{ TimberImage( news.research_card_image ).src }}" alt="{{ TimberImage( news.research_card_image ).alt }}" />
					</div>
				{% elseif news.wrap_image %}
					<div class="keep-aspect">
						<img src="{{ TimberImage( news.wrap_image ).src }}" alt="{{ TimberImage( news.wrap_image ).alt }}" />
					</div>
				{% endif %}
			{% endif %}
			
			<div class="article-details">
				<a class="h5-heading" href="{{ news.link }}">{{ news.title }}</a>
				<time datetime="{{ news.post_date }}">{{ news.post_date | date('F j, Y') }}</time>
				<div class="article-slice">
					<p>{{ news.article_paragraph | slice(0, 115) }}...</p>
				</div>
				<a class="learn-more" href="{{ news.link }}">Read More</a>
			</div>
		</article>
	{% endfor %}
</section>
{% endblock %}