{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">
	{# [_navigation.scss] - desktop & mobile #}
	{% include 'navigation.twig' %}
	<span class="nav-border"></span>

	{# [_header.scss] #}
	{% if is_front_page %}
		<header class="home-header-wrapper">
			{% block homeheader %}
			{% endblock %}
		</header>
	{% else %}
		<header class="header-wrapper">
			<div class="main-header"
				{# only use post-thumbnail if the page is not the News Archive page #}
				{% if post.thumbnail and not function('is_archive') %}
					style="background-image: url('{{ post.thumbnail }}');"
				{% else %}
					style="background-image: url('{{ theme.link }}/static/images/news-header.jpg');"
				{% endif %}
				>

				<div class="title-box">
					{% if function('is_archive') or function('is_single') %}
						<h1 class="h1-heading--w default-title">News</h1>
					{% elseif function('is_page', 230) or function('is_page', 232) %}
						<h1 class="h1-heading--w default-title">Our Team</h1>
					{% else %}
						<h1 class="h1-heading--w default-title">{{ post.title }}</h1>
					{% endif %}
				</div>
			</div>
		</header>
	{% endif %}

	{# content-wrapper is in [_globals.scss] #}
	<div class="content-wrapper">
		{# [_below-header.scss] #}
		{% block belowheader %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{# [_footer.scss] top of file #}
		{% block abovefooter %}
		{% endblock %}

		{# [_footer.scss] #}
		{% include 'footer.twig' %}
	</div>

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>