{% block footer %}
<footer class="footer-container">
	<div class="footer-rows">
		{{ function('kwcrf_render_footer_menu') }}

		<div class="footer-rows__middle-social">
			<div class="brand">
				<img src="{{ theme.link }}/static/images/kwcrf-brand.png" alt="Kansas Wheat Commission Research Foundation - Brand Logo" />
				<address>
					1990 Kimball Avenue<br>
					Manhattan, Kansas 66502<br>
					<a href="tel:785-539-0255">(785)-539-0255</a>
				</address>
			</div>

			<div class="social">
				<p>Stay Connected</p>
				<div>
					<a href="https://facebook.com/kansaswheat" target="_blank">
						<span>{% include '/static/icons/social/facebook.svg' %}</span>
					</a>

					<a href="https://twitter.com/kansaswheat" target="_blank">
						<span>{% include '/static/icons/social/twitter.svg' %}</span>
					</a>

					<a href="https://youtube.com/user/wearekansaswheat" target="_blank">
						<span>{% include '/static/icons/social/youtube.svg' %}</span>
					</a>

					<a href="https://issuu.com/kansaswheat" target="_blank">
						<span>{% include '/static/icons/social/issuu.svg' %}</span>
					</a>

					<a href="http://kswheat.com/feed"> {# opens download link #}
						<span class="last">{% include '/static/icons/social/rss.svg' %}</span>
					</a>
				</div>
			</div>
		</div>

		<div class="footer-rows__bottom-legal">
			<div>
				<p>&copy; Kansas Wheat Commission Research Foundation.</p>
				<p>All rights reserved.</p>
			</div>

			<div class="center-links">
				<a class="learn-more" href="/privacy-policy/">Privacy Policy</a>
				<a class="learn-more" href="/liability-disclosure/">Liability Disclosure</a>
				<a class="learn-more" href="/accessibility-statement/">Accessibility Statement</a>
			</div>

			<div>
				<p style="margin-top: -5px;">Design &amp; Development by
					<a class="logo" href="https://weare502.com" target="_blank">
						<img src="{{ theme.link }}/static/icons/502-logo.png" alt="502 - A Strategic Marketing Agency" />
					</a>
				</p>
			</div>
		</div>

	</div> {# /.[footer-rows] #}
</footer>
{% endblock %}