{% extends 'base.twig' %}

{% block homeheader %}
<div class="home-header">
	<video id="background-video" autoplay muted loop poster="">
		<source src="{{ theme.link }}/static/videos/kwcrf-video-background.mp4">
	</video>

	<div class="mobile-image-header">
		<img src="{{ theme.link }}/static/images/home-header.jpg" alt="Research Students Image" />
	</div>

	<div class="header-text-overlay">
		<h1 class="h1-heading--w">The campaign for a sustainable wheat future by the Kansas Wheat Commission Research Foundation</h1>
		<span class="shadow-bar"></span>
		<a id="play-button" class="box-button--rounded">Watch Video</a>
		<a class="box-button--rounded" href="/areas-of-focus/">Learn More</a>
	</div>

	<div class="video-modal-container" style="display: none;">
		<video class="pause-close" id="video-modal" fullscreen controls poster="">
			<source src="{{ post.header_video_url }}">
		</video>
		<button id="close-video">X</button>
	</div>
	<div class="darken"></div>
</div>
{% endblock %}

{% block belowheader %}
	{% set count = 1 %}
	{% for article in news_articles %}
		{% if count == 1 %}
			<section class="featured-article-container" style="background-image: url('{{ theme.link }}/static/images/green-bg.jpg');">
				<article class="article-content">
					{% if article.featured_article_setup %}
						<h3 class="h3-heading--w">{{ article.title }}</h3>
						<p>{{ article.article_paragraph |slice(0, 110) }}...</p>
						<a class="box-button--rounded" href="{{ article.link }}">Read More</a>
					{% endif %}
				</article>
			</section>
			{% set count = count + 1 %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block content %}
<h1 class="non-block-header">Areas of Focus</h1>
<section class="cta-block-row">
	{% for card in post.get_field('cta_card_row') %}
		<div class="card-block">
			<img src="{{ TimberImage( card.card_image ).src }}" alt="{{ TimberImage( card.card_image ).alt }}" />
			<h4>{{ card.card_title }}</h4>
			<p>{{ card.card_text }}</p>
		</div>
	{% endfor %}
</section>

{# [_news-articles.scss] #}
<section class="research-article-wrapper" style="background-image: url('{{ theme.link }}/static/images/blue-bg.jpg');">
	<h2 class="h2-heading--w">Current Research</h2>
	<div class="research-articles">
		{% for research in research_articles %}
			<div class="research-card" style="background-image: url('{{ TimberImage( research.research_card_image ).src }}');">
				<div class="frosted-overlay">
					<h5>{{ research.title }}</h5>
					<a class="learn-more" href="{{ research.link }}">Learn More</a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<section class="blockquote-container">
	<blockquote>“{{ quote }}”</blockquote>
	<h5>{{ quote_author }}</h5>
	<p>{{ author_title }}</p>
</section>
{% endblock %}

{% block abovefooter %}
<section class="donate-banner" style="background-image: url('{{ theme.link }}/static/images/maroon-bg.jpg');">
	<div class="donate-banner__overlay">
		<p>Support a sustainable wheat future for Kansas.</p>
		<a class="box-button--rounded" href="/donate-today/">Donate Today</a>
	</div>
</section>
{% endblock %}