{% block navigation %}
<div class="nav-wrapper">
	<div class="nav-container">
		<a class="logo" href="/">
			<img src="{{ theme.link }}/static/images/kwcrf-logo.png" alt="Kansas Wheat Commission Research Foundation">
		</a>

		<nav class="nav-menu" role="navigation">
			<div id="menu-toggle">
				{% include '/static/images/mobile-menu.svg' %}
			</div>
			{{ function('kwcrf_render_primary_menu') }}
		</nav>
	</div>
</div>
{% endblock %}