{% extends 'base.twig' %}

{# header in base.twig #}

{% block belowheader %}
{% endblock %}

{% block content %}
<section>
	{{ post.content }}

	{# Our Team Page (Hybrid Page - Uses block editor for Cards - below is for the 3x3 grids) #}
	{% if function('is_page', 58) %}
	<style> h3:first-of-type { margin-top: 1.5rem; } </style>
		<h5 class="member-heading">Fields Forward Steering Committee</h5>
		<div id="committee-members" class="members">
			{% for c_member in members %}
				{% if c_member.get_field('committee_member') %}
					<div class="members__inner">
						<span class="member-name">{{ c_member.title }}</span>
						{% if c_member.member_title %}
							<p>{{ c_member.member_title }}</p>
						{% endif %}
						<p>{{ c_member.member_location }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div> {# end committee members #}

		<h5 class="member-heading">KWCRF Board Members</h5>
		<div id="board-members" class="members">
			{% for b_member in members %}
				{% if b_member.get_field('board_member') %}
					<div class="members__inner">
						<span class="member-name">{{ b_member.title }}</span>
						<p>{{ b_member.member_title }}</p>
						<p>{{ b_member.member_location }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div> {# end board members #}
	{% endif %}
</section>
{% endblock %}