{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
<article class="default-page-container news-article">
	<a href="/news/" class="learn-more">Recent News</a>
	<h3>{{ post.title }}</h3>
	<time datetime="{{ post.post_date }}">{{ post.post_date | date('F j, Y') }}</time>

	{% set wrap_around_image = post.get_field('wrap_image') %}
	{% set research_image = post.get_field('research_card_image') %}
	<div class="news-article__content">
		{% if wrap_around_image %}
			<img src="{{ TimberImage( wrap_around_image ).src }}" alt="{{ TimberImage( wrap_around_image ).alt }}" />
		{% endif %}

		<p>{{ post.get_field('article_paragraph') }}</p>
	</div>
</article>
{% endblock %}