{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
<section class="staff-member">
	<div class="staff-member__about"> {# use Block Editor #}
		<h3 class="larger-header">{{ post.title }}</h3>
		<p class="staff-title">{{ post.get_field('staff_member_title') }}</p>
		{{ post.content }}
	</div>
	
	{% set staff_image = post.get_field('staff_member_image') %}
	{% set staff_phone = post.get_field('staff_member_phone') %}
	{% set staff_email = post.get_field('staff_member_email') %}
	<div class="staff-member__contact"> {# ACF Template #}
		<div class="staff-image" style="background-image: url('{{ TimberImage( staff_image ).src }}');">
		</div>

		<div class="contact-inner">
			<span class="small-name-header">{{ post.title }}</span><br>
			<a href="tel:{{ staff_phone }}">
				<img class="contact-icon" src="{{ theme.link }}/static/icons/phone.png" alt="Phone Icon" />
				{{ staff_phone }}
			</a><br>

			<a href="mailto:{{ staff_email }}">
				<img class="contact-icon" src="{{ theme.link }}/static/icons/envelope.png" alt="Email Icon" />
				{{ staff_email }}
			</a>
		</div>
	</div>
</section>
{% endblock %}