.burger-menu {
	cursor: pointer;
	transition: transform 400ms;
	user-select: none;
}

.menu-rotate.active { transform: rotate(45deg); }

.line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke:#000;
	stroke-width:5.5;
	stroke-linecap:round;
}

.stroke-array .top { stroke-dasharray: 40 160; }

.stroke-array .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}

.stroke-array .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}

.stroke-array.active .top { stroke-dashoffset: -64px; }
.stroke-array.active .middle { transform: rotate(90deg); }
.stroke-array.active .bottom { stroke-dashoffset: -64px; }