// standard link style
.learn-more {
	color: $blue;
	text-decoration: underline;
	transition: none;
	font-size: 0.9375rem; // 15px
	padding: 0 0.5rem;
	@include bp(md) { padding: 0.2rem 0; }

	&:hover {
		color: rgba($blue, 0.7);
		text-decoration: underline;
		transition: none;
	}
}

// standard "box" style button
.box-button {
	display: block;
	background-color: $white;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 0.2rem 0.6rem;
	box-shadow: 0 2px 3px rgba($black, 0.25);
	width: 9.5rem;
	
	@include bp($iphone678) { font-size: 1.25rem; }

	@include bp(sm) {
		font-size: 1.625rem;
		width: 13.5rem;
	}

	&:hover {
		color: $white;
	}

	&--rounded {
		@extend .box-button;
		border-radius: 8px;
	}
}

// Buttons with standard TRBL color-slide effects
.slide-button {
	display: inline-block;
	max-width: 8rem;
	padding: 0.5rem 1rem;
	border: 2px solid $font-color;
	color: $font-color;

	&--up, &--down, &--left, &--right {
		@extend .slide-button;
		&:hover { color: $white; }
	}

	&--up {
		background-size: 100% 200%;
		-moz-background-size: 100% 199%; // fixes blur
		background-image: linear-gradient(to top, $font-color 50%, transparent 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 0 100%;
			transition: background-position 0.3s;
		}
	}

	&--down {
		background-size: 100% 200%;
		-moz-background-size: 100% 199%; // fixes blur
		background-image: linear-gradient(to bottom, transparent 50%, $font-color 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 0 -100%;
			transition: background-position 0.3s;
		}
	}

	&--left {
		background-size: 200% 100%;
		background-image: linear-gradient(to left, $font-color 50%, transparent 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 100% 0;
			transition: background-position 0.3s;
		}
	}

	&--right {
		background-size: 200% 100%;
		background-image: linear-gradient(to right, transparent 50%, $font-color 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: -100% 0;
			transition: background-position 0.3s;
		}
	}
} // end .slide-button (parent)