.featured-article-container {
	margin-top: 1.7rem;
	margin-bottom: 2rem;
	max-width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	&:before {
		content: '';
		width: 100%;
		padding: 0.8rem;
		position: absolute;
		top: -2px;
		background-image: url('static/images/brushstroke-top.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		@include bp(sm) { background-size: contain; }
		@include bp(943px) { padding: 1rem; }
	}

	&:after {
		content: '';
		width: 100%;
		padding: 0.8rem;
		position: absolute;
		bottom: -2px;
		background-image: url('static/images/brushstroke-bottom.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		@include bp(sm) { background-size: contain; }
		@include bp(943px) { padding: 1rem; }
	}

	.article-content {
		padding-top: 0.2rem;
		padding-bottom: 3rem;
		max-width: 50rem;
		margin: 0 auto;
		text-align: center;

		.h3-heading--w, p {
			line-height: 1.1;
			color: $white;
		}

		.h3-heading--w { max-width: 36.5rem; }

		p {
			font-size: 1.15rem;
			padding: 1.5rem 0.5rem;
			@include bp($iphone678) { font-size: 1.25rem; }
		}

		.box-button--rounded {
			color: $green;
			margin: 0 auto;

			&:hover {
				color: $white;
				background-color: $dark-teal;
			}
		}
	}
}