.footer-container {
	clear: both; // needed for news story (images are floated left)
	background-color: $dark-teal;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.footer-rows {
	max-width: 75rem;
	margin: 0 auto;
	padding: 2rem 0;

	ul {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 0 1rem;
		list-style-type: none;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		@include bp(sm) {
			padding: 0 0 2rem;
			justify-content: space-between;
		}

		li {
			margin: 0.5rem;
			@include bp(sm) { margin: 0; }
		}

		li a {
			padding: 0.5rem;
			font-size: 0.9375rem; // 15px
			font-weight: bold;
			color: $white;

			&:hover { text-decoration: underline; }
		}

		@include bp(sm) {
			#menu-item-124 a { padding-left: 0; }
			#menu-item-130 a { padding-right: 0; }
		}
	}

	&__middle-social {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		max-width: 100%;
		margin: 0 auto;
		padding: 1.5rem 0;
		border-top: 2px solid $grey-two;
		border-bottom: 2px solid $grey-two;

		@include bp(xs) {
			flex-direction: row;
			flex-wrap: nowrap;
		}

		@include bp(sm) { justify-content: space-between; }

		img {
			display: none;
			@include bp(sm) {
				display: inline-block;
				max-width: 9rem;
			}
		}

		.brand {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include bp(sm) {
				max-width: 23.5rem;
				width: 100%;
			}

			address, a {
				color: $white;
				line-height: 1.3;
			}

			address {
				text-align: center;
				@include bp(xs) { text-align: left; }
			}
		}

		.social {
			padding-bottom: 1.5rem;
			@include bp(xs) { padding-bottom: 0; }

			p {
				color: $white;
				font-weight: bold;
				font-size: 0.9375rem; // 15px
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0.8rem;
				@include bp(sm) { text-align: right; }
			}

			// all icons but 'issuu'
			svg {
				margin-right: 0.3rem;
				path { fill: $white; }

				&:hover path {
					fill: $light-grey;
				}
			}

			.last svg { margin-right: 0; }

			// issuu icon
			svg#Layer_1 { width: 34px; height: 34px; }
		}
	}

	&__bottom-legal {
		display: flex;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		text-align: center;
		flex-direction: column;

		@include bp(sm) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			text-align: unset;
		}

		p, a {
			font-size: 0.875rem;
			color: $footer-grey;
			margin: 0;
			text-decoration: none;
			line-height: 1.3;
		}

		p { padding: 0; }

		a {
			text-align: center;
			margin-bottom: 0.3rem;
			@include bp(sm) { margin-bottom: 0; }
			@include bp(md) { text-align: unset; }

			&:hover {
				color: $white;
				text-decoration: underline;
			}
		}

		// bump the logo down and right slightly
		.logo {
			position: relative;
			bottom: -3px;
			img { margin-right: -1px; } // move to right edge of container
		}

		.center-links {
			display: flex;
			flex-direction: column;
			max-width: 25rem;
			justify-content: center;
			padding: 1.5rem 0;

			@include bp(sm) { padding: 0; }

			@include bp(md) {
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
			}

			@include bp(lg) { margin-left: -6rem; }

			.learn-more { padding: 0 0.5rem; }
		}
	}
}