// Donation Form
.gform_wrapper {
	max-width: 62.5rem;
	margin: 0 auto 2rem;
	padding: 0 0.5rem;

	.gfield_required { display: none; }

	.gform_body, .gform_footer { font-family: $font-body; }

	// heading labels for form fields
	.gfield_label, label {
		font-family: $font-body;
		color: $form-blue;
		font-size: 1.125rem !important;
		font-weight: bold;
	}

	#field_1_3 .gfield_label_before_complex {
		display: none;
	}

	// body styles (input boxes, textareas, radio buttons, checkboxes)
	.gform_body .gform_fields .ginput_container {

		input, select, textarea {
			border: unset;
			color: $form-blue;

			&::placeholder {
				opacity: 1;
				color: $form-placeholder;
			}
		}

		input, select, textarea {
			border: 1px solid $form-border;
			border-radius: 8px;
		}

		select {
			padding: 0.2rem !important;
		}
	}

	// Donation Amount
	#input_1_1 { max-width: 11.4rem; }

	// Full Name
	#input_1_2_3 { max-width: 22.5rem; }

	// Address 1, Address 2, Email
	#input_1_3_1, #input_1_3_2, #input_1_4 { max-width: 33.75rem }

	// Address 1
	#input_1_3_2 { margin-right: 18rem; }

	// City
	#input_1_3_3, .address_city { max-width: 17rem !important; }

	// City container
	#input_1_3_3_container { margin-right: 5rem; }

	// State
	#input_1_3_4 { max-width: 6.25rem; }

	// State Container
	#input_1_3_4_container { margin-right: 3rem; }

	// Zip
	#input_1_3_5_container {
		max-width: 7.5rem;
		margin-right: 5.5rem;
	}

	// Country
	#input_1_3_6 { max-width: 15.25rem; }

	// Email - border bottom
	.ginput_container_email {
		margin-bottom: 2rem;
		border-bottom: 2px solid $form-border; 
		padding-bottom: 1.5rem;
	}

	// Email - no right padding
	#field_1_4 { padding-right: 0 !important; }

	// Card Number, Name
	#input_1_5_1, #input_1_5_5 { max-width: 24rem; }

	// Exp, Year, CVV
	#input_1_5_2_month, #input_1_5_2_year, #input_1_5_3 {
		max-width: 5.75rem;
	}

	.ginput_cardinfo_left {
		max-width: 12rem;
	}

	#field_1_5 {
		border-bottom: 2px solid $form-border;
		padding-bottom: 1.5rem;
		padding-right: 0;
		.gfield_label { display: none !important; }
	}

	// Submit button
	input[type=radio] {
		margin-top: 3px !important;
		margin-right: 0.3rem !important;
	}

	// footer styles (only the submit button)
	.gform_footer input[type="submit"] {
		max-width: 9.25rem;
		width: 100% !important;
		padding: 0.6rem 1rem;
		border-radius: 8px;
		background-color: $form-submit;
		color: $white;
		transition: 0.2s ease-in;
		border: none;

		&:hover {
			cursor: pointer;
			background-color: rgba($form-submit, 0.8);
			transition: 0.2s ease-out;
		}
	}
}