* {
	box-sizing: border-box;
}

html {
	font-size: 16px; // base font size
}

html, body {
	// smooths jagged font edges
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: subpixel-antialiased; // Mac only

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.2;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

// the main content wrapper for all pages
.content-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// a default page container
.default-page-container {
	max-width: 62.5rem; // 1000px
	margin: 2rem auto;
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.8s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.8s ease-out;
}

.shadow-bar {
	display: inline-block;
	width: 100%;
	margin: 0.5rem 0;
	padding: 2px;
	background-color: $white;
	box-shadow: 0 2px 4px rgba($black, 0.5);
	@include bp($iphone678) { margin: 1.5rem 0; }
}

// for all dates across the site
time {
	display: inline-block;
	color: $maroon;
	font-family: $font-head;
	font-weight: 500;
	font-style: italic;
	font-size: 1.25rem;
}

// reset WP youtube embed block
.wp-block-embed-youtube.wp-block-embed.is-type-video.is-provider-youtube.wp-embed-aspect-16-9.wp-has-aspect-ratio {
	all: unset; // fixes all issues
}

// YouTube embed fix (now fluid)
.wp-block-embed__wrapper {
	position: relative;
	padding: 25px 0 50%;
	max-width: 1000px;
	margin: 2.5rem auto 0;
	height: 0;
	@include bp(lg) { padding: 25px 0 35%; }

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 0.5rem;
		@include bp(md) { padding: 0; }
	}
}

// Staff header for h3 on "Ways to Give" Page
.staff-header { margin-top: 0.5rem; }

/** NGG Gallery Overrides **/
// remove black caption box covering photos
.sl-caption { display: none !important; }

// view area is default: 100% wide (reduced to match theme width)
.ngg-galleryoverview.default-view {
	max-width: 62.5rem;
	margin: 3.5rem auto 0;
}

// make thumbnails smaller and add more space between them
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail-box {
	max-width: 11.25rem !important;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 1.5rem;
	@include bp(sm) { margin-bottom: 0; }
}