// main site header - homepage is in [home-header.scss]
.main-header {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -3rem;

	.title-box {
		padding-top: 4rem;
		padding-bottom: 4rem;
		max-width: 55rem;
		margin: 0 auto;
		
		@include bp(sm) {
			padding-top: 6.5rem;
			padding-bottom: 6.5rem;
		}

		h1 {
			text-align: center;
			text-shadow: 0 2px 8px rgba($black, 0.5);
			margin-bottom: 0;
			@include bp($iphone678) { margin-bottom: 1.2rem; }
		}

		.default-title {
			font-weight: 800;
			text-shadow: 0 0 25px rgba($black, 0.85);
			font-size: 2.625rem;
			@include bp(xs) { font-size: 3.625rem; }
			@include bp(sm) { font-size: 4.625rem; }
		}
	}
}

// Header brushstroke
.header-wrapper .main-header {
	&:after {
		content: '';
		width: 100%;
		padding: 0.8rem;
		position: absolute;
		bottom: -2px;
		background-image: url('static/images/brushstroke-bottom.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		@include bp(sm) { background-size: contain; }
		@include bp(943px) { padding: 1rem; }
	}
}