// For Board and Committee Members Sections
// For Single Staff Members pages (below)
.member-heading {
	font-family: $font-body;
	text-align: center;
}

@include bp(600px) {
	#board-members {
		margin-bottom: 2rem;
	}
}

.members {
	max-width: 33.5rem;
	margin: 0 auto;
	column-count: 2;
	align-items: center;
	padding: 0;
	text-align: center;

	@include bp(600px) {
		text-align: left;
		column-count: 3;
		column-gap: 6.125rem;
	}

	&__inner {
		display: inline-block;
		width: 9.25rem;
		margin: 0 0 1.5rem;

		.member-name {
			font-weight: bold;
			padding-top: 0;
			padding-bottom: 0;
		}

		p {
			padding-top: 0;
			padding-bottom: 0;
			font-size: 0.9375rem;
		}
	}
}

// [staff-member.twig]
.staff-member {
	display: flex;
	max-width: 62.5rem;
	margin: 2.75rem auto 3.75rem;
	padding: 0 0.5rem;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	@include bp(800px) { flex-wrap: nowrap; }

	&__about {
		max-width: 38rem;

		.larger-header {
			padding: 0;
			margin-top: 0;
		}

		.staff-title {
			max-width: 31.875rem;
			font-family: $font-head;
			font-size: 1.35rem;
			font-style: italic;
			font-weight: bold;
			margin: 0 0 0.5rem;
			padding: 0 0 0.5rem !important;
			color: $maroon;
			border-bottom: 1px solid $grey-two;
			@include bp(sm) { font-size: 1.75rem; }
		}

		p:not(.staff-title) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__contact {
		display: flex;
		justify-content: space-between;
		max-width: 30rem;
		width: 100%;
		margin-top: 2.25rem;
		flex-wrap: wrap;

		@include bp(800px) {
			margin-top: 0;
			max-width: 17.8rem;
			margin-left: 1.5rem;
			flex-direction: column;
		}

		.staff-image {
			background-position: 100% 28%; // bring head into photo
			background-repeat: no-repeat;
			background-size: cover;
			width: 17.8rem;
			padding-top: 17.8rem;
			margin: 0 auto 2.75rem;
			@include bp(465px) { margin-bottom: 0; }
			@include bp(sm) { margin: 0 0 2.75rem 0; }
		}

		.contact-inner {
			width: 17.8rem;
			margin: 0 auto;
			
			@include bp(465px) {
				margin: unset;
				width: unset;
			}

			.small-name-header { text-decoration: none; }

			.contact-icon {
				margin-bottom: 0;
				max-width: 1rem;
				margin-right: 0.5rem;
				vertical-align: middle;
			}

			a {
				display: inline-block;
				font-size: 0.9375rem;
				color: $grey-three;
				margin-bottom: 0.25rem;
			}
		}
	}
}