// burger menu styling is in [_burger-menu.scss]
// these are the mobile / main nav styles
.nav-wrapper {
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0 2px 4px 0 rgba($black, 0.12);
	z-index: 20;
	position: relative;
	background-color: $white;
}

.nav-container {
	max-width: 75rem;
	margin: 0 auto;

	.logo > img {
		max-width: 16.5rem;
		margin-left: -1.7rem;
	}
}

.nav-border {
	display: block;
	max-width: 75rem;
	height: 5px;
	margin: -0.15rem auto 0;
	background-color: $maroon;
	position: relative;
	z-index: 99;
}

#menu-toggle { display: none; }

@include mq($from: $laptop) {
	.nav-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		// set different font family for just this item
		a { font-family: $font-head; }

		#primary-menu {
			display: flex;
			justify-content: space-between;
			width: 50rem;
			margin-bottom: 0;
		}

		ul {
			list-style: none;
			padding-left: 0;
			position: relative;

			li {
				text-align: center;
				width: 11rem;

				a {
					display: inline-block;
					font-size: 1.375rem;
					font-weight: 300;
					vertical-align: middle;
					text-align: center;
					transition: none;
					padding: 0 0.6rem 1.8rem;
	
					&:hover {
						color: $maroon;
						font-weight: 500;
						transition: none;
						cursor: pointer;
					}
				}
			}

			// Donate Button
			#menu-item-75 {
				background-color: $maroon;
				background-image: linear-gradient(rgba($black, 0), rgba($black, 0.35));
				width: unset; // no width on this button
				transition: 0.2s ease-out;
				margin: 0;
				padding: 0;
				align-self: start; // prevent from filling height of flex container

				&:hover {
					background-color: rgba($maroon, 0.8);
				}

				> a {
					color: $white;
					font-style: italic;
					padding: 0 1.8rem 0.7rem;

					&:hover {
						font-weight: 300 !important;
					}
				}
			}

			.current-menu-item > a {
				color: $maroon;
				font-weight: 500;
			}

			.menu-item-has-children {
				transition: 0.3s ease-out;

				.sub-menu {
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 4.1rem;
					margin-left: 0.75rem;
					transition: 0.3s ease-out;

					.menu-item {
						background-color: $maroon-light;

						&:hover {
							background-color: $white;

							a {
								color: $maroon;
							}
						}
					}

					li {
						max-width: 9rem;
					}

					a {
						padding: 0 0.2rem 0.7rem;
						color: $white;
					}
				}

				&:hover {
					transition: 0.3s ease-out;

					.sub-menu {
						visibility: visible;
						opacity: 1;
						transition: 0.3s ease-out;
					}
				}
			}
		}
	}
}

@include mq($until: $laptop) {
	.nav-container {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		padding: 0 0.5rem;
		justify-content: space-between;
		align-items: flex-end;

		#primary-menu {
			margin-top: 0.5rem;
			box-shadow: 0 1px 4px rgba($grey-three, 0.6);
		}

		.nav-menu {
			padding-bottom: 0.5rem;
		}

		ul {
			list-style: none;
			padding-left: 0;
			text-align: right;

			li {
				margin-bottom: 1rem;
			}

			a {
				padding: 0.5rem;
			}
		}

		.menu-item-156 > a, .menu-item-155 > a {
			display: none;
		}

		.menu-item-75 {
			margin-bottom: 0;
		}

		#menu-toggle {
			display: inline-block;
		}

		.menu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			right: 0;
			width: 10rem;
			background-color: $white;
			transition: 0.3s ease-out;
			padding: 1rem 1.5rem;
		}

		.menu-open {
			transition-delay: 0;
			visibility: visible;
			opacity: 1;
			width: 100%;
			transition: 0.3s ease-out;
		}
	}
}