// All articles
.news-article {
	h3 { margin: 1.5rem 0; }

	time {
		margin-bottom: 2rem;
		padding: 0 0.5rem;
		@include bp(md) { padding: 0; }
	}

	&__content {

		// default image block setup / no alignment uses default setup
		img, .alignnone {
			display: block;
			margin: 0.375rem auto 0;
			padding: 0 0.5rem 0.5rem;

			@include bp(500px) {
				max-width: 18.75rem;
				float: left;
				margin-right: 1rem;
			}
		}

		// add editor support for image alignments
		.alignright, .alignleft {
			display: block;
			margin: 0.375rem auto 0;
			padding: 0 0.5rem 0.5rem;
			width: 100%;

			@include bp(500px) {
				width: unset;
				max-width: 18.75rem;
			}
			@include bp(md) { padding: 0; }
		}

		// right on 500px+
		.alignright {
			@include bp(500px) {
				float: right;
				margin-left: 1rem;
			}
		}

		// left on 500px+
		.alignleft {
			@include bp(500px) {
				float: left;
				margin-right: 1rem;
			}
		}

		.aligncenter, .alignwide {
			float: none;
			max-width: 100%;
			margin: 0 auto;
			padding: 0.5rem;
			@include bp(500px) { padding: 1rem 0; }
		}

		p {
			font-size: 1.125rem;
			color: $grey-three;
			padding-top: 0;

			// for images in the WYSIWYG field
			img, .alignleft, .alignright,
			.aligncenter, .alignnone, .alignwide {
				padding: 0.5rem 0;
			}
		}

		a {
			color: $maroon;
			text-decoration: none;
			font-weight: bold;
			&:hover { text-decoration: underline; }
		}
	}
}

// research articles only
.research-article-wrapper {
	max-width: 100%;
	margin: 3.75rem auto;
	position: relative;
	padding: 2rem 0 5.5rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:before {
		content: '';
		width: 100%;
		padding: 0.8rem;
		position: absolute;
		top: 0;
		background-image: url('static/images/brushstroke-top.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		@include bp(sm) { background-size: contain; }
		@include bp(943px) { padding: 1rem; }
	}

	&:after {
		content: '';
		width: 100%;
		padding: 0.8rem;
		position: absolute;
		bottom: 0;
		background-image: url('static/images/brushstroke-bottom.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		@include bp(sm) { background-size: contain; }
		@include bp(943px) { padding: 1rem; }
	}

	h2 {
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 2rem;
		padding-top: 1rem;
		@include bp(640px) { padding-top: 2rem; }
		@include bp(930px) { padding-top: 0; }
	}

	.research-articles {
		display: flex;
		max-width: 62.5rem;
		margin: 0 auto;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		
		@include bp(930px) {
			padding: 0 0.5rem;
		}

		.research-card {
			max-width: 18.75rem;
			width: 100%;
			padding: 9.5rem 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			margin-bottom: 1.5rem;

			@include bp(930px) {
				margin-bottom: 0;
				padding: 12.5rem 0;
			}

			.frosted-overlay {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 1rem;
				background-color: $frost;
				min-height: 10.5rem;
			}

			h5 {
				margin-top: 0;
				margin-bottom: 0;
				font-family: $font-body;
				font-size: 1.35rem;
				@include bp(md) { font-size: 1.5rem; }
			}

			.learn-more {
				color: $grey-one;
				position: absolute;
				bottom: 0;
				font-style: italic;
				font-size: 1rem;
				padding-bottom: 0.5rem;

				&:hover {
					color: rgba($grey-one, 0.8);
				}
			}
		}
	}

	.adjust-spacing {
		justify-content: space-around;
	}
}