.article-stub {
	max-width: 41rem;
	display: flex;
	padding: 1.75rem 0.5rem 2.25rem;
	justify-content: center;

	@include bp(600px) {
		align-items: initial;
		justify-content: unset;
		border-bottom: 2px solid $grey-two;
		padding: 1.75rem 0.5rem 1.25rem;
	}

	@include bp(md) {
		padding: 1.75rem 0 1.25rem;
	}

	.h5-heading {
		display: inline-block;
		margin-top: 0.4rem;
		font-family: $font-body;
		margin-bottom: 0.4rem;
		padding-left: 0;
		padding-right: 0;
	}

	// we want the image to keep it's aspect ratio
	.keep-aspect {
		display: none;

		@include bp(600px) {
			display: inline-block;
			width: 100%;
			max-width: 9rem;
			margin-right: 2rem;
		}
	}

	.article-details {
		max-width: 23.75rem;
		border-bottom: 2px solid $grey-two;
		@include bp(600px) { border-bottom: none; }

		p {
			color: $grey-three;
			font-size: 0.9375rem;
			padding-left: 0;
			padding-right: 0;
		}

		.article-slice {
			// re-format headers for this section
			> h1, > h2, > h3,
			> h4, > h5, > h6 {
				font-size: 1.1rem;
				margin: 0;
				padding: 1rem 0 0.3rem;
			}

			// re-format paragraphs for this section
			p {
				color: $grey-three;
				font-size: 0.9375rem;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0.2rem;
			}
		}

		.learn-more {
			font-style: italic;
			color: $grey-one;
			padding-left: 0;
			padding-right: 0;

			&:hover { color: rgba($grey-one, 0.8); }
		}
	}
}