// basic font styles
a, p, span, address, blockquote {
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.5;
	font-family: $font-body;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;
}

p, span.member-name {
	max-width: 62.5rem;
	margin: 0 auto;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	font-size: 1rem;
	color: $grey-three;
	padding: 0.8rem 0.5rem;

	@include bp(md) {
		padding: 0.8rem 0;
		font-size: 1.125rem;
	}
}

span.member-name { display: block; }

// base link styles
a {
	text-decoration: none;
	transition: 0.2s ease-out;
	color: $font-color;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

.small-name-header {
	font-size: 1.125rem;
	font-weight: bold;
	color: $blue;
	text-decoration: underline;
}

.larger-header {
	font-size: 1.75rem;
	@include bp(sm) { font-size: 2.25rem; }
}

// heading styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	font-family: $font-head;
	font-weight: 600;
	margin: 2.5rem auto 0.5rem;
	max-width: 62.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	@include text-crop(1.2, 0px, 0px);

	@include bp(md) {
		padding-left: 0;
		padding-right: 0;
	}
}

// for headers outside of blocks (blocks control top/bottom margin to keep them consistent)
.non-block-header {
	color: $dark-teal;
	font-weight: 800;
	text-align: center;
	margin-bottom: 0;
	font-size: 1.75rem;
	@include bp($iphone678) { font-size: 2.25rem; }
	@include bp(sm) { font-size: 3rem; }
}

h1, .h1-heading {
	font-size: 1.25rem;
	@include bp($iphone678) { font-size: 1.35rem; }
	@include bp(540px) { font-size: 2.25rem; }
	@include bp(md) { font-size: 3.1875rem; }

	&--w {
		@extend .h1-heading;
		color: $white;
	}
}

h2, .h2-heading {
	font-size: 2rem;
	@include bp($iphone678) { font-size: 2.5rem; }
	@include bp(sm) { font-size: 3rem; }

	&--w {
		@extend .h2-heading;
		color: $white;
	}
}

h3, .h3-heading, .h3-heading--w {
	font-size: 1.35rem;
	color: $grey-one;
	@include bp(sm) { font-size: 2.25rem; }

	&--w {
		@extend .h3-heading;
		color: $white;
	}
}

h4, .h4-heading {
	font-size: 1.75rem;
	@include bp(sm) { font-size: 1.9375rem; }

	&--w {
		@extend .h4-heading;
		color: $white;
	}
}

h5, .h5-heading {
	font-size: 1.5rem;
	color: $blue;

	&--w {
		@extend .h5-heading;
		color: $white;
	}
}

h6, .h6-heading {
	font-size: 1.25rem;

	&--w {
		@extend .h6-heading;
		color: $white;
	}
}