// standard colors
$black: #000;
$white: #FFF;
$dark-grey: #595959;
$light-grey: #A4A4A4;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// theme colors
$teal: #5FAB9F;
$dark-teal: #2E4044;
$maroon: #5E3B59;
$maroon-light: rgba($maroon, 0.5);
$green: #7FA64C;
$grey-one: #666666;
$grey-two: #979797;
$grey-three: #474747;
$footer-grey: #ECECEC;
$blue: #235A8A;
$frost: rgba(#F4F4F4, 0.85);

// form colors
$form-blue: #124253;
$form-border: #C7C7C7;
$form-placeholder: #AFAFAF;
$form-submit: #6BA642;

// shadows
$maroon-shadow: 0 2px 4px 0 rgba($maroon, 0.5);

// fonts
// NOTE: Kobenhavn has no open type support, and also has 16px of space above it for ascenders
$font-head: kobenhavn, serif;
$font-body: anivers, sans-serif;
$font-color: $black; // Primary font color (for buttons, links, etc)

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$tablet: 767px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}

// http://text-crop.eightshapes.com/
@mixin text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    $top-crop: 15;
    $bottom-crop: 1;
    $crop-font-size: 36;
    $crop-line-height: 1.2;

    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

    // Mixin output
    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}

// scaling font size //
// @mixin sfs($minw, $maxw, $minfs, $maxfs) {
// 	// if no value is entered for one of the paramters, prevent compilation
// 	@if $minw == false or $maxw == false or $minfs == false or $maxfs == false {
// 		@error "A value is required for all parameters except for the max-width override. Entered values: $minw = #{$minw}, and $maxw = #{$maxw}, and $minfs = #{$minfs}, and $maxfs = #{$maxfs}. One of the values is missing - Please check and fill in any empty values displayed here and recompile.";
// 	}

// 	// get all values entered
// 	$val-list: $minw, $maxw, $minfs, $maxfs;

// 	// loop through the values and check if it has a unit appended to it, if not, add px
// 	@each $val in $val-list {
// 		@if unitless($val) {
// 			@warn "Assuming #{$val} to be in px. Attempting to append unit.";
// 			// if warnings are off, this will happen silently*
// 			$val: #{$val*1px};
// 		}
// 	}

// 	$minw: nth($val, 1); // $val[1]
// 	$maxw: nth($val, 2); // $val[2]
// 	$minfs: nth($val, 3); // $val[3]
// 	$maxfs: nth($val, 4); // $val[4]

// 	// calculate our values for scaling font and apply them
// 	font-size: calc($minfs + ($maxfs - $minfs) * ((100vw - $minw) / ($maxw - $minw)));
// }