// Homepage header
.home-header {
	position: relative;
	width: 100vw;
	top: -3px;

	@include bp(md) {
		height: 83vh;
		overflow: hidden;
	}

	#background-video {
		display: none;

		@include bp(md) {
			display: block;
			position: relative;
			width: 100vw;
			object-fit: cover;
		}
	}

	// the image replacement for the video up until laptops
	.mobile-image-header {
		display: block;
		position: relative;
		max-width: 100%;
		@include bp(md) { display: none; }
	}

	.header-text-overlay {
		position: absolute;
		max-width: 56rem;
		width: 100%;
		text-align: center;
		top: 28%;
		left: 50%;
		transform: translate(-50%, -30%);
		padding: 0 0.5rem;

		h1 { text-shadow: 0 2px 8px rgba($black, 0.5); }

		.box-button--rounded {
			display: inline-block;
			color: $maroon;

			@include bp(420px) {
				margin-right: 1.5rem;
				margin-left: 1.5rem;
			}

			&:hover {
				cursor: pointer;
				color: $white;
				background-color: $maroon;
			}
		}
	} // end [header-text-overlay]

	// video modal
	.video-modal-container {
		display: block;
		max-width: 80rem;
		width: 100%;
		//height: 100%;
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 8;

		#video-modal {
			width: 100%;
			object-fit: cover;
		}

		// Target only chrome - add play button
		// @media screen and (-webkit-min-device-pixel-ratio: 0) {
		// 	&:before {
		// 		display: block;
		// 		content: '/f144';
		// 		position: absolute;
		// 		left: 50%;
		// 		top: 50%;
		// 		transform: translate(-50%, -50%);
		// 		padding: 1.25rem;
		// 		width: 10rem;
		// 		height: 10rem;
		// 		font-size: 1.5rem;
		// 		color: $white;
		// 		background-color: transparent;
		// 		z-index: 999; // always on top
		// 	}
		// }
	}

	// close button
	#close-video {
		position: absolute;
		top: 0.3rem;
		right: 0.2rem;
		width: 3rem;
		z-index: 20;
		padding: 0.3rem 0.2rem;
		border: none;

		&:hover {
			cursor: pointer;
			background-color: $grey-three;
			color: $white;
		}
	}

	// the brushstroke at the bottom of the container
	&:after {
		content: '';
		width: 100%;
		padding: 0.8rem;
		position: absolute;
		bottom: -2px;
		z-index: 5;
		background-image: url('static/images/brushstroke-bottom.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;

		// switch to contain to prevent stretching
		@include bp(sm) { background-size: contain; }
		@include bp(943px) { padding: 1rem; }
	}

	.darken {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: rgba($black, 0.95);
		background-blend-mode: multiply;
		z-index: 7;
	}
}