.blockquote-container {
	max-width: 62.5rem;
	text-align: center;
	margin: 3.75rem auto;
	padding: 0 0.5rem;
	@include bp(sm) { padding: 0; }

	blockquote {
		margin: 0;
		color: $grey-one;
		font-size: 1rem;
		font-style: italic;
		@include bp($iphone678) { font-size: 1.25rem; }
		@include bp(xs) { font-size: 1.5rem; }
		@include bp(sm) { font-size: 1.75rem; }
	}

	h5 {
		font-family: $font-body;
		margin-bottom: 0;
		font-size: 1.35rem;
		@include bp(sm) { font-size: 1.5rem; }
	}

	p {
		padding-top: 0;
		padding-bottom: 0;
		color: $blue;
		@include bp(sm) { font-size: 1.125rem; }
	}
}