.blue-cta-banner {
	background-size: cover;
	background-position: center;
	margin-top: 2.5rem;
	margin-bottom: 0.5rem;
	@include bp(sm) { margin: 3.5rem auto; }
	
	p {
		display: block;
		max-width: 60rem;
		padding-top: 2.25rem;
		padding-bottom: 2.25rem;
		margin: 0 auto;
		text-align: center;
		font-size: 1.25rem;
		color: $white;
		line-height: 1.2;
		@include bp(xs) { font-size: 1.5rem; }
		@include bp(sm) { font-size: 1.75rem; }
	}
}