.card-block {
	max-width: 18.75rem;
	margin-bottom: 1.5rem;
	@include bp(930px) { margin-bottom: 0; }
	
	&:last-of-type { margin-bottom: 0; }

	h4 {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		padding-bottom: 1.2rem;
		color: $grey-one;
		border-bottom: 2px solid $grey-two;
	}

	p {
		font-size: 1.125rem;
		color: $grey-three;
		padding-top: 0;
	}
}