/**
	Global Call to Action Card Styles
	All files with "cta" in it pull their "parent" styles from this stylesheet
**/

// wrapper for CTA's with a background image
.cta-wrapper {
	max-width: 100%;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}

// parent container for all cta cards
.cta-block-row {
	display: flex;
	max-width: 62.5rem;
	width: 100%;
	margin: 2rem auto 0;
	padding: 0 0.5rem;
	justify-content: space-around;
	align-items: flex-start; // allows cards to grow longer
	flex-wrap: wrap;

	@include bp(930px) {
		justify-content: space-between;
		padding: unset;
	}
}