// cta-block-row is in [_cta-cards-global.scss]
.fw-block-card {
	align-items: center; // global card is set to flex-start
	justify-content: space-around;

	@include bp(980px) {
		justify-content: space-between;
		border-bottom: 2px solid $grey-two;
	}

	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}

	.text-content {
		max-width: 30.5rem;

		.non-block-header {
			text-align: left;
			padding-left: 0;
			padding-right: 0;
			margin-top: 1rem;
			@include bp(980px) { margin-top: 0; }
		}

		p {
			font-size: 1.125rem;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.fw-image {
		max-width: 30.5rem;
		margin-bottom: 1.5rem;
	}
}