.donate-banner {
	width: 100%;
	margin: 2.5rem auto 0;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include bp(md) { margin: 4rem auto 0; }

	&:before {
		content: '';
		width: 100%;
		padding: 1rem;
		position: absolute;
		top: 0;
		background-image: url('static/images/brushstroke-top.png');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		@include bp(sm) { background-size: contain; }
	}

	&__overlay {
		padding-top: 2rem;
		padding-bottom: 2rem;
		max-width: 56rem;
		width: 100%;
		margin: 0 auto;
		padding: 1rem 0;
		text-align: center;

		p {
			color: $white;
			font-size: 1.35rem;
			margin-top: 0;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			@include bp(xs) { font-size: 1.75rem; }
		}

		.box-button--rounded {
			color: $maroon;
			margin: 0 auto;

			&:hover {
				color: $white;
				background-color: $dark-teal;
			}
		}
	}
}