.recognition-wrapper {
	max-width: 62.5rem;
	margin: 2rem auto 3.75rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap-reverse;
	padding: 0 0.5rem;

	@include bp(md) {
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 0;
	}

	img {
		margin-bottom: 1.5rem;
		@include bp(md) { margin-bottom: 0; }
	}
}

.recognition-content {
	max-width: 30.5rem;

	p {
		padding-top: 0;
		padding: 0 0 3.1rem; // padding controlled by wrapper
	}

	.rep-info {
		display: inline-block;
		margin-right: 4rem;
		margin-bottom: 2.75rem;
		@include bp(md) {
			display: block;
		}

		&:last-of-type {
			margin-right: 0;
		}

		a {
			font-size: 0.9375rem;
			color: $grey-three;
		}
	}
}