.staff-cards {
	display: flex;
	max-width: 62.5rem;
	margin: 1.5rem auto 4.5rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 0.5rem;

	@include bp(976px) {
		justify-content: space-between;
		align-items: flex-start;
		padding: 0;
	}

	.mobile-only {
		display: block;
		margin: 4rem 0 1rem;
		width: 100%; // to left align on mobile
		@include bp(407px) { display: none; }

		&:first-of-type { margin: 0 0 1rem; }

		.h5-heading {
			display: inline-block;
			padding-left: 0;
			padding-right: 0;
			font-weight: bold;
			border-bottom: 2px solid $blue;
			font-family: $font-body;
			&:first-of-type { margin-top: 0; }
		}
	}

	&__card {
		display: flex;
		justify-content: space-between;
		max-width: 30.5rem;
		width: 100%;
		align-items: center;
		@include bp(407px) { padding-top: 2rem; }
		@include bp(974px) { padding-top: 0; }

		&--image {
			background-position: 100% 35%; // center heads in frame
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 10rem;
			max-width: 9.1rem;
			width: 100%;
			margin-right: 1rem;
			@include bp(974px) { margin-right: 0; }
		}

		.staff-member-info {
			max-width: 20.5rem;

			a:not(.learn-more) {
				display: none;
				@include bp(407px) { display: inline-block; }
			}

			.h5-heading {
				display: inline-block;
				font-family: $font-body;
				font-weight: bold;
				margin-top: 0;
				margin-bottom: 0;
				border-bottom: 2px solid $blue;
			}

			.h6-heading {
				margin-top: 0;
				padding-bottom: 0.3rem;
				font-family: $font-body;
				font-weight: normal;
				color: $maroon;
				@include bp($iphone678) { margin-top: 0.8rem; }
			}

			.staff-blurb {
				padding-top: 0.7rem;
				font-size: 0.975rem;
				border-top: 1px solid $grey-one;
				padding-bottom: 0;
			}

			a, p, span {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}