// Creates a center-aligned grid with even spacing between columns/rows (based on 1200px width - 75rem)
.grid-block {
	width: 100%;
	margin: 3.5rem auto;

	&--grid {
		display: grid;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 23.5rem));
		column-gap: 1.15rem;
		row-gap: 1rem;
		justify-content: center;
	}
	
	&__inner {
		padding: 1rem;
		// max-width: 23.5rem;  // only use if not using minmax()

		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}