.masonry-grid-columns {
	margin: 3.75rem auto 0;
	max-width: 25rem;

	@include bp(sm) {
		columns: 2;
		column-gap: 11.5rem;
		max-width: 62.5rem;
	}

	.masonry-block {
		display: inline-block; // grid will wrap into next column without this
		margin-bottom: 2rem;
		@include bp(sm) { margin-bottom: 5rem; }

		img {
			margin-left: 0.5rem;
			max-width: 5.1rem;
		}

		h5 { margin-top: 1.2rem; }

		ul {
			font-family: $font-body;
			font-size: 1.125rem;
			color: $grey-three;
			line-height: 1.5;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			li {
				padding-left: 0.5rem; // more space on bullets
			}
		}
	}
}